In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_03 = "../../2020_Data/2020.03.csv"

In [3]:
# Read the March CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_03 = pd.read_csv(load_2020_03)
df_2020_03.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,3/4/20,Frisco,TX,75036,UPS,3/4/20,21.5,6
1,Ecom3,Delivered,3/2/20,Montclair,NJ,7043,UPS,2/29/20,21.5,6
2,Ecom3,Delivered,3/3/20,SILVER SPRING,MD,20901-3101,FEH,3/1/20,41.0,12
3,Ecom3,Delivered,3/2/20,Montclair,NJ,7043,UPS,2/29/20,29.0,8
4,Ecom3,In Transit,3/3/20,Spring Lake,MI,49456,UPS,3/3/20,7.0,2

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_03.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
11658,Ecom3,In Transit,3/30/20,RIDGEWOOD,NJ,07450-1009,UPS,3/27/20,21.5,6
431,Ecom3,Delivered,3/2/20,Napa,CA,94558,UPS,3/1/20,21.5,6
1457,Ecom1,Shipped,3/5/20,Alabaster,AL,35007,LSO1,3/4/20,39.0,12
6541,Ecom1,Delivered,3/16/20,Santa Rosa,NM,88435,FXG,3/16/20,10.5,3
303,Ecom3,Delivered,3/2/20,Lake Bluff,IL,60044,UPS,3/1/20,21.5,6

In [5]:
#See the last rows of data
df_2020_03.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12278,Ecom1,Delivered,3/30/20,Flagstaff,AZ,86001,FEH,3/27/20,20.2,6
12279,Winery1,Delivered,3/31/20,Tiburon,CA,94920,UPS,3/31/20,20.2,6
12280,Ecom1,Delivered,3/30/20,North Eastham,MA,2651,FEH,3/30/20,39.0,12
12281,Ecom1,Delivered,3/30/20,Decatur,GA,30033,FEH,3/27/20,20.2,6
12282,Ecom1,Delivered,3/31/20,las vegas,NV,89169,FEH,3/29/20,10.5,3

In [6]:
df_2020_03.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_03.
df_2020_03_rows = len(df_2020_03.axes[0])
df_2020_03_cols = len(df_2020_03.axes[1])
print("Number of Rows: ", df_2020_03_rows)
print("Number of Columns: ", df_2020_03_cols)

Number of Rows:  12283
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_03.
#Missing 55% of values from Created Date, Weight, Item/Bottle Count columns.
df_2020_03.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_03.
df_2020_03.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count     object
dtype: object

In [10]:
df_2020_03['Company Name'].value_counts()

Ecom3      8868
Ecom1      2788
Winery1     597
Winery2      30
Name: Company Name, dtype: int64

In [11]:
df_2020_03['Ship Date'].value_counts()

3/30/20    1060
3/16/20     993
3/26/20     955
3/31/20     950
3/20/20     704
3/9/20      685
3/17/20     682
3/27/20     666
3/13/20     609
3/11/20     581
3/25/20     554
3/2/20      521
3/23/20     486
3/24/20     478
3/18/20     432
3/4/20      420
3/12/20     339
3/3/20      285
3/19/20     274
3/10/20     256
3/6/20      234
3/5/20      119
Name: Ship Date, dtype: int64

In [12]:
df_2020_03['Status'].value_counts()

Delivered            7063
In Transit           4502
Shipped               533
Carrier Exception     116
Delivery Attempt       69
Name: Status, dtype: int64

In [13]:
df_2020_03['City'].value_counts()

New York         310
Chicago          177
Brooklyn         128
Houston          116
Washington        95
                ...
Sewickley, PA      1
nokomis            1
NEW HUDSON         1
Honor              1
North Eastham      1
Name: City, Length: 3759, dtype: int64

In [14]:
df_2020_03['State'].value_counts()

CA    1446
NY    1278
FL    1028
PA     883
TX     832
NJ     604
IL     569
MA     420
OH     384
VA     384
MI     357
GA     346
NC     297
CO     297
MD     290
AZ     228
CT     210
TN     209
WA     204
IN     177
MN     168
SC     164
MO     157
OR     131
WI     126
DC     111
LA     110
KS      82
HI      82
NV      79
RI      68
AR      66
NH      64
IA      64
NE      53
NM      52
ME      41
ID      36
WV      31
VT      29
MT      25
AL      19
OK      18
SD      17
ND      17
WY      16
AK      12
DE       2
Name: State, dtype: int64

In [15]:
df_2020_03['Zip'].value_counts()

10019         28
19103         27
10022         24
10024         21
33149         21
              ..
77064-7075     1
85284          1
18091          1
90064-4819     1
2651           1
Name: Zip, Length: 5325, dtype: int64

In [16]:
df_2020_03['Shipping Service'].value_counts()

UPS     7701
FEH     3519
FXG      883
FEX      124
LSO1      26
WCU        9
AZS        8
UP2        7
UP3        3
UP1        2
WCP        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_03['Created Date'].value_counts()

3/25/20    834
3/10/20    808
3/17/20    707
3/26/20    667
3/23/20    640
3/16/20    591
3/27/20    581
3/13/20    510
3/20/20    494
3/18/20    480
3/30/20    413
3/24/20    392
3/28/20    391
3/2/20     382
3/11/20    367
3/3/20     354
3/19/20    347
3/9/20     333
3/15/20    284
3/6/20     282
3/14/20    275
3/22/20    274
3/12/20    213
3/21/20    210
3/8/20     205
3/4/20     202
2/29/20    194
3/7/20     175
3/5/20     163
3/29/20    145
3/1/20     104
2/28/20     94
3/31/20     74
2/27/20     58
2/24/20     21
2/26/20     13
2/25/20      4
2/7/20       1
2/5/20       1
Name: Created Date, dtype: int64

In [18]:
df_2020_03['Weight'].value_counts()

21.50      5116
10.50      1478
41.00      1289
14.00       843
39.00       826
20.20       753
7.00        453
9.90        433
29.00       235
18.50       173
3.35        129
26.00       102
4.00        100
35.00       100
32.00        97
10.00        25
27.00        23
38.00        22
30.00        16
17.20        13
24.00        13
33.00         8
36.00         8
19.00         6
19.50         5
13.50         4
2057.00       2
29.20         1
38.20         1
869.00        1
1.85          1
42.00         1
45.00         1
20.00         1
17.00         1
20.50         1
39.50         1
23.20         1
Name: Weight, dtype: int64

In [19]:
df_2020_03['Item/Bottle Count'].value_counts()

6      5881
12     2117
3      1936
4       843
2       438
8       258
1       250
5       186
7       116
9       114
10      108
11       30
672       2
,         1
14        1
13        1
276       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_03.
#have to add errors=coerce for it to change the string to float and skip the error cells.
df_2020_03["Item/Bottle Count"]=pd.to_numeric(df_2020_03["Item/Bottle Count"], errors='coerce')

In [21]:
#Had to change the string to a float64 in the previous cell which threw an error, added errors= coerce which made it change the error cells to Nan values. Now I will change the Nan values to 0.
df_2020_03=df_2020_03.replace(np.nan,0,regex=True)

In [22]:
#Remove "Status" column from df_2020_03.
df_2020_03 = df_2020_03.drop('Status', axis=1)
df_2020_03

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,3/4/20,Frisco,TX,75036,UPS,3/4/20,21.5,6.0
1,Ecom3,3/2/20,Montclair,NJ,7043,UPS,2/29/20,21.5,6.0
2,Ecom3,3/3/20,SILVER SPRING,MD,20901-3101,FEH,3/1/20,41.0,12.0
3,Ecom3,3/2/20,Montclair,NJ,7043,UPS,2/29/20,29.0,8.0
4,Ecom3,3/3/20,Spring Lake,MI,49456,UPS,3/3/20,7.0,2.0
...,...,...,...,...,...,...,...,...,...
12278,Ecom1,3/30/20,Flagstaff,AZ,86001,FEH,3/27/20,20.2,6.0
12279,Winery1,3/31/20,Tiburon,CA,94920,UPS,3/31/20,20.2,6.0
12280,Ecom1,3/30/20,North Eastham,MA,2651,FEH,3/30/20,39.0,12.0
12281,Ecom1,3/30/20,Decatur,GA,30033,FEH,3/27/20,20.2,6.0
12282,Ecom1,3/31/20,las vegas,NV,89169,FEH,3/29/20,10.5,3.0

In [23]:
# Drop the NaNs for df_2020_03.
df_2020_03 = df_2020_03.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2020_03.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
10117,Ecom1,3/24/20,Clinton,CT,6413,FEH,3/20/20,10.5,3.0
3999,Ecom1,3/10/20,Fairfield,NJ,7004,FXG,3/10/20,10.5,3.0
7880,Ecom3,3/26/20,Ridgecrest,CA,93555,UPS,3/26/20,21.5,6.0
8961,Ecom3,3/26/20,Fairway,KS,66205,UPS,3/24/20,41.0,12.0
10469,Ecom3,3/30/20,Doylestown,PA,18901,UPS,3/27/20,21.5,6.0

In [25]:
#Determine total rows for df_2020_03.
df_2020_03_rows = len(df_2020_03.axes[0])
df_2020_03_cols = len(df_2020_03.axes[1])
print("Number of Rows: ", df_2020_03_rows)
print("Number of Columns: ", df_2020_03_cols)

Number of Rows:  12283
Number of Columns:  9

## Export Cleaned DF to .CSV

In [31]:
#Export df_2020_03 to .csv
df_2020_03.to_csv('../cleaned_months_2020/Clean_2020_03.csv')