In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_11 = "../../2020_Data/2020.11.csv"

In [3]:
# Read the November CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_11 = pd.read_csv(load_2020_11)
df_2020_11.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,11/2/2020,Topanga,CA,90290,FEH,10/30/2020,6.5,1.0
1,Ecom1,Delivered,11/2/2020,Los Angeles,CA,90012,FEH,10/30/2020,6.5,1.0
2,Ecom1,Delivered,11/2/2020,La Verne,CA,91750,FEH,10/30/2020,6.5,1.0
3,Ecom1,Delivered,11/2/2020,Lancaster,CA,93536,FEH,10/30/2020,6.5,1.0
4,Ecom1,Delivered,11/2/2020,Reseda,CA,91335,FEH,10/30/2020,6.5,1.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_11.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
18721,Ecom3,In Transit,11/27/2020,East Amherst,NY,14051,FEH,11/25/2020,18.5,5.0
5480,Winery1,Delivered,11/9/2020,Chico,CA,95928,UPS,11/3/2020,14.0,4.0
22071,Ecom3,In Transit,11/30/2020,FORT MYERS,FL,33913,UPS,11/28/2020,21.5,6.0
12141,Ecom2,Shipped,11/19/2020,Charlottesville,VA,22902,FEH,11/18/2020,7.0,2.0
9862,Ecom2,In Transit,11/18/2020,Murrells Inlet,SC,29576,FEH,11/17/2020,7.0,2.0

In [5]:
#See the last rows of data
df_2020_11.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
22935,Winery3,NaN,11/30/2020,Morgantown,WV,26501,UPS,NaN,NaN,NaN
22936,Winery3,NaN,11/30/2020,Keller,TX,76248,UPS,NaN,NaN,NaN
22937,Winery3,NaN,11/30/2020,Quincy,MA,2169,UPS,NaN,NaN,NaN
22938,Winery3,NaN,11/30/2020,Union City,CA,94587,GSC,NaN,NaN,NaN
22939,Winery3,NaN,11/30/2020,Branson,MO,65616,UPS,NaN,NaN,NaN

In [6]:
df_2020_11.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_11.
df_2020_11_rows = len(df_2020_11.axes[0])
df_2020_11_cols = len(df_2020_11.axes[1])
print("Number of Rows: ", df_2020_11_rows)
print("Number of Columns: ", df_2020_11_cols)

Number of Rows:  22940
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_11.
df_2020_11.isnull().sum()

Company Name           0
Status               129
Ship Date              0
City                   0
State                  0
Zip                    0
Shipping Service       0
Created Date         129
Weight               129
Item/Bottle Count    129
dtype: int64

In [9]:
# Determine data types for df_2020_11.
df_2020_11.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [10]:
df_2020_11['Company Name'].value_counts()

Ecom3      8888
Ecom2      7206
Ecom1      3485
Winery1    3051
Winery2     181
Winery3     129
Name: Company Name, dtype: int64

In [11]:
df_2020_11['Ship Date'].value_counts()

11/19/2020    5210
11/6/2020     2502
11/20/2020    1709
11/30/2020    1543
11/9/2020     1514
11/18/2020    1460
11/23/2020    1182
11/2/2020      955
11/27/2020     915
11/24/2020     863
11/17/2020     748
11/11/2020     642
11/16/2020     599
11/25/2020     583
11/3/2020      490
11/10/2020     460
11/13/2020     402
11/12/2020     348
11/5/2020      325
11/4/2020      280
11/15/2020     174
11/28/2020      36
Name: Ship Date, dtype: int64

In [12]:
df_2020_11['Status'].value_counts()

Delivered            10505
In Transit            8599
Shipped               3426
Carrier Exception      149
Delivery Attempt       132
Name: Status, dtype: int64

In [13]:
df_2020_11['City'].value_counts()

New York         473
Chicago          279
Brooklyn         202
Washington       183
Houston          169
                ...
Endicott           1
Gypsum             1
Lower Gwynedd      1
Trent Woods        1
Murphysboro        1
Name: City, Length: 5260, dtype: int64

In [14]:
df_2020_11['State'].value_counts()

CA    2500
NY    2268
PA    1496
FL    1485
TX    1375
NJ    1199
IL    1071
MA     857
VA     791
OH     772
MI     686
GA     679
CO     617
MD     607
NC     580
TN     471
WA     455
CT     449
AZ     395
MN     365
IN     359
WI     336
SC     281
MO     276
OR     273
DC     178
KS     177
NV     163
LA     159
HI     156
RI     156
NH     150
OK     143
IA     133
NE     110
ME     103
AR      80
MT      75
NM      74
DE      73
ID      72
WV      57
VT      50
AK      44
SD      40
ND      37
WY      34
AL      32
MS       1
Name: State, dtype: int64

In [15]:
df_2020_11['Zip'].value_counts()

94558    45
7030     44
11201    38
10022    36
60614    34
         ..
55339     1
30213     1
54983     1
4011      1
26501     1
Name: Zip, Length: 7760, dtype: int64

In [16]:
df_2020_11['Shipping Service'].value_counts()

UPS      12153
FEH       9272
FXG       1129
AZS         94
UP3         87
FEX         59
WCU         39
GSC         29
WCP         28
UP2         22
FXE         19
UP1          5
FXP          2
UPSNS        2
Name: Shipping Service, dtype: int64

In [17]:
df_2020_11['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

11/18/2020    6523
11/3/2020     2992
11/17/2020    1522
11/23/2020     911
11/27/2020     694
11/24/2020     692
11/10/2020     528
11/29/2020     510
11/26/2020     507
11/11/2020     489
11/6/2020      469
11/16/2020     460
11/15/2020     459
11/20/2020     446
11/9/2020      440
11/22/2020     426
11/8/2020      426
11/1/2020      412
11/2/2020      408
11/25/2020     401
11/13/2020     362
11/28/2020     349
11/12/2020     305
11/4/2020      299
11/19/2020     290
11/5/2020      279
11/21/2020     256
10/30/2020     218
10/31/2020     176
11/7/2020      169
11/14/2020     156
10/26/2020     119
11/30/2020      74
10/27/2020      11
10/29/2020       7
9/30/2020        5
10/28/2020       4
9/2/2020         4
10/20/2020       2
10/13/2020       2
9/15/2020        1
10/14/2020       1
10/6/2020        1
9/21/2020        1
10/7/2020        1
10/12/2020       1
9/10/2020        1
10/16/2020       1
10/24/2020       1
Name: Created Date, dtype: int64

In [18]:
df_2020_11['Weight'].value_counts()

7.00       7779
21.50      4455
14.00      2806
10.50      1466
41.00      1251
39.00      1118
20.20       843
6.50        568
9.90        502
4.00        343
27.00       260
29.00       225
18.50       214
3.35        145
26.00       123
32.00       109
35.00       108
24.00        74
30.00        73
10.00        59
33.00        54
38.00        49
17.20        46
12.50        26
7.50         20
36.00        17
13.50        16
9.00         15
17.00         9
19.20         8
37.00         4
26.50         4
3.00          3
20.50         3
17.50         3
11.50         2
2016.00       2
14.20         1
13.00         1
28.50         1
384.00        1
720.00        1
21.00         1
15.20         1
5.40          1
1.85          1
Name: Weight, dtype: int64

In [19]:
df_2020_11['Item/Bottle Count'].value_counts()

2.0       7798
6.0       5304
4.0       2815
12.0      2369
3.0       1977
1.0       1185
8.0        472
5.0        261
7.0        206
9.0        184
10.0       164
11.0        50
13.0        14
14.0         4
2072.0       1
128.0        1
2272.0       1
24.0         1
18.0         1
252.0        1
240.0        1
15.0         1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_11.
df_2020_11["Item/Bottle Count"]=df_2020_11["Item/Bottle Count"].astype(float)
df_2020_11.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_11.
df_2020_11 = df_2020_11.drop('Status', axis=1)
df_2020_11

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,11/2/2020,Topanga,CA,90290,FEH,10/30/2020,6.5,1.0
1,Ecom1,11/2/2020,Los Angeles,CA,90012,FEH,10/30/2020,6.5,1.0
2,Ecom1,11/2/2020,La Verne,CA,91750,FEH,10/30/2020,6.5,1.0
3,Ecom1,11/2/2020,Lancaster,CA,93536,FEH,10/30/2020,6.5,1.0
4,Ecom1,11/2/2020,Reseda,CA,91335,FEH,10/30/2020,6.5,1.0
...,...,...,...,...,...,...,...,...,...
22935,Winery3,11/30/2020,Morgantown,WV,26501,UPS,NaN,NaN,NaN
22936,Winery3,11/30/2020,Keller,TX,76248,UPS,NaN,NaN,NaN
22937,Winery3,11/30/2020,Quincy,MA,2169,UPS,NaN,NaN,NaN
22938,Winery3,11/30/2020,Union City,CA,94587,GSC,NaN,NaN,NaN
22939,Winery3,11/30/2020,Branson,MO,65616,UPS,NaN,NaN,NaN

In [22]:
# Drop the NaNs for df_2020_11.
df_2020_11 = df_2020_11.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_11.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4986,Winery2,11/13/2020,Houston,TX,77025,UPS,11/10/2020,27.0,8.0
14632,Ecom2,11/19/2020,Destrehan,LA,70047,FEH,11/18/2020,7.0,2.0
21201,Ecom3,11/27/2020,New York,NY,10044,FEH,11/26/2020,21.5,6.0
1936,Winery1,11/6/2020,KINGWOOD,TX,77339,UPS,11/3/2020,14.0,4.0
17554,Ecom3,11/17/2020,New York,NY,10024,FEH,11/16/2020,9.9,3.0

In [24]:
#Determine total rows for df_2020_11.
df_2020_11_rows = len(df_2020_11.axes[0])
df_2020_11_cols = len(df_2020_11.axes[1])
print("Number of Rows: ", df_2020_11_rows)
print("Number of Columns: ", df_2020_11_cols)

Number of Rows:  22811
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_11 to .csv
df_2020_11.to_csv('../cleaned_months_2020/Clean_2020_11.csv')