In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_01 = "../../2020_Data/2020.01.csv"

In [3]:
# Read the January CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_01 = pd.read_csv(load_2020_01)
df_2020_01.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,Carrier Exception,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,Delivered,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,Delivered,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,In Transit,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_01.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
16871,Ecom1,Delivered,1/27/20,CHICAGO,IL,60607,FEH,1/27/20,10.5,3.0
7048,Ecom2,Manifest,1/23/20,Fresno,CA,93720,UPS,NaN,NaN,NaN
5789,Ecom2,Manifest,1/23/20,Greensboro,GA,30642,FEH,NaN,NaN,NaN
6871,Ecom2,Manifest,1/23/20,Fort Wayne,IN,46845,FEH,NaN,NaN,NaN
9614,Ecom2,Manifest,1/23/20,East Setauket,NY,11733,FEH,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2020_01.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
16950,Ecom1,Delivered,1/27/20,Escondido,CA,92025,FEH,1/27/20,20.2,6.0
16951,Ecom1,In Transit,1/30/20,NY,NY,10010,FXG,1/29/20,10.5,3.0
16952,Ecom1,In Transit,1/27/20,Chicago,IL,60626,FEH,1/27/20,10.5,3.0
16953,Ecom1,Delivered,1/28/20,OREGON,WI,53575,FEH,1/27/20,10.5,3.0
16954,Ecom1,Delivered,1/27/20,Kirkwood,MO,63122,FEH,1/27/20,10.5,3.0

In [6]:
df_2020_01.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_01.
df_2020_01_rows = len(df_2020_01.axes[0])
df_2020_01_cols = len(df_2020_01.axes[1])
print("Number of Rows: ", df_2020_01_rows)
print("Number of Columns: ", df_2020_01_cols)

Number of Rows:  16955
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_01.
df_2020_01.isnull().sum()

Company Name            0
Status                  0
Ship Date               0
City                    0
State                   0
Zip                     0
Shipping Service        0
Created Date         9275
Weight               9275
Item/Bottle Count    9275
dtype: int64

In [9]:
# Determine data types for df_2020_01.
df_2020_01.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [10]:
df_2020_01['Company Name'].value_counts()

Ecom2      9275
Ecom3      5210
Ecom1      2230
Winery1     203
Winery2      37
Name: Company Name, dtype: int64

In [11]:
df_2020_01['Ship Date'].value_counts()

1/23/20    8939
1/13/20     858
1/6/20      838
1/24/20     753
1/2/20      652
1/20/20     640
1/27/20     522
1/21/20     356
1/22/20     346
1/7/20      343
1/17/20     303
1/15/20     270
1/28/20     251
1/9/20      248
1/14/20     234
1/30/20     216
1/3/20      209
1/31/20     195
1/8/20      194
1/29/20     191
1/16/20     162
1/10/20     153
1/11/20      56
1/25/20      26
Name: Ship Date, dtype: int64

In [12]:
df_2020_01['Status'].value_counts()

Manifest             9255
Delivered            5173
In Transit           2206
Shipped               166
Carrier Exception     108
Delivery Attempt       44
Exception               3
Name: Status, dtype: int64

In [13]:
df_2020_01['City'].value_counts()

New York      483
Chicago       236
Brooklyn      179
Washington    132
Houston       127
             ...
Succasunna      1
Bear            1
Ellijay         1
Fraser          1
OREGON          1
Name: City, Length: 4527, dtype: int64

In [14]:
df_2020_01['State'].value_counts()

NY    2046
CA    1479
FL    1363
PA    1053
TX    1039
NJ     941
IL     800
MA     644
OH     632
VA     630
GA     549
MD     475
NC     449
CO     423
AZ     350
CT     344
WA     280
IN     270
TN     262
SC     250
MN     247
MO     221
WI     199
MI     186
LA     167
OR     166
DC     127
KS     127
NH     112
RI      94
NE      93
IA      92
NV      85
OK      84
HI      76
NM      69
AR      68
AL      61
ME      58
ID      52
MT      49
DE      46
WV      43
VT      41
ND      35
WY      30
SD      27
AK      21
Name: State, dtype: int64

In [15]:
df_2020_01['Zip'].value_counts()

10019    40
10016    35
11201    31
10022    30
10011    29
         ..
88101     1
60191     1
85042     1
97424     1
47408     1
Name: Zip, Length: 7028, dtype: int64

In [16]:
df_2020_01['Shipping Service'].value_counts()

FEH     7645
UPS     6853
FXG     1709
LSO      620
FEX       61
UP2       30
LSO1      30
WCU        3
Fxg        1
AZS        1
UP1        1
WCP        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_01['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

1/27/20     433
1/20/20     396
1/6/20      385
1/13/20     353
1/14/20     315
           ...
10/1/19       1
9/29/19       1
11/9/19       1
12/21/19      1
6/17/19       1
Name: Created Date, Length: 67, dtype: int64

In [18]:
df_2020_01['Weight'].value_counts()

21.50    2787
10.50    1362
41.00     763
20.20     538
14.00     481
7.00      420
9.90      310
39.00     299
29.00     147
3.35      123
18.50     111
35.00      78
26.00      77
32.00      71
38.00      25
30.00      11
24.00       9
4.00        9
17.20       8
20.00       7
33.00       6
6.20        6
39.50       5
11.00       5
1.85        3
12.50       3
17.00       3
13.50       3
27.00       3
36.00       2
45.00       1
19.50       1
15.00       1
9.00        1
20.50       1
Name: Weight, dtype: int64

In [19]:
df_2020_01['Item/Bottle Count'].value_counts()

6.0     3337
3.0     1670
12.0    1066
4.0      481
2.0      313
1.0      262
8.0      150
5.0      121
7.0       86
10.0      84
9.0       82
11.0      27
14.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change dtypes if necessary

In [21]:
#Remove "Status" column from df_2020_01.
df_2020_01 = df_2020_01.drop('Status', axis=1)
df_2020_01

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0
...,...,...,...,...,...,...,...,...,...
16950,Ecom1,1/27/20,Escondido,CA,92025,FEH,1/27/20,20.2,6.0
16951,Ecom1,1/30/20,NY,NY,10010,FXG,1/29/20,10.5,3.0
16952,Ecom1,1/27/20,Chicago,IL,60626,FEH,1/27/20,10.5,3.0
16953,Ecom1,1/28/20,OREGON,WI,53575,FEH,1/27/20,10.5,3.0
16954,Ecom1,1/27/20,Kirkwood,MO,63122,FEH,1/27/20,10.5,3.0

In [22]:
# Drop the NaNs for df_2020_01.
df_2020_01 = df_2020_01.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_01.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
2880,Ecom3,1/13/20,Hendersonville,NC,28739-6434,UPS,1/11/20,21.50,6.0
15037,Ecom1,1/8/20,Ft Lee,NJ,7024,FEH,1/7/20,39.00,12.0
16456,Ecom1,1/30/20,Western Springs,IL,60558,FEH,1/29/20,10.50,3.0
13850,Ecom3,1/31/20,Chicago,IL,60608,UPS,1/31/20,3.35,1.0
1867,Ecom3,1/6/20,WATSONVILLE,CA,95076-0713,UPS,1/5/20,41.00,12.0

In [24]:
#Determine total rows for df_2020_01.
df_2020_01_rows = len(df_2020_01.axes[0])
df_2020_01_cols = len(df_2020_01.axes[1])
print("Number of Rows: ", df_2020_01_rows)
print("Number of Columns: ", df_2020_01_cols)

Number of Rows:  7680
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_01 to .csv
df_2020_01.to_csv('../cleaned_months_2020/Clean_2020_01.csv')