In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_02 = "../../2020_Data/2020.02.csv"

In [3]:
# Read the February CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_02 = pd.read_csv(load_2020_02)
df_2020_02.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,2/5/20,Iowa City,IA,52242,FXG,2/5/20,21.5,6
1,Ecom3,Delivered,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,41.0,12
2,Ecom3,Delivered,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,21.5,6
3,Ecom3,Delivered,2/4/20,Sacramento,CA,95818,UPS,2/4/20,14.0,4
4,Ecom3,Delivered,2/5/20,Williamsburg,VA,23185,UPS,2/5/20,21.5,6

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_02.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
8427,Ecom1,Shipped,2/28/20,Oklahoma City,OK,73132,LSO1,2/28/20,4.0,1
5156,Winery1,Carrier Exception,2/14/20,Bethesda,MD,20817,UPS,2/11/20,14.0,4
750,Ecom3,Delivered,2/6/20,Dover,MA,2030,FEH,2/6/20,29.0,8
7449,Ecom3,Shipped,2/29/20,Johns Island,SC,29455,UPS,2/29/20,18.5,5
7663,Ecom3,In Transit,2/28/20,MEMPHIS,TN,38118,UPS,2/28/20,7.0,2

In [5]:
#See the last rows of data
df_2020_02.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
8462,Ecom1,Delivered,2/24/20,Bossier City,LA,71111,FEH,2/24/20,30.0,9
8463,Ecom1,Delivered,2/25/20,Atlanta,GA,30340,FEH,2/19/20,20.2,6
8464,Ecom1,In Transit,2/27/20,St. Louis,MO,63110,FXG,2/27/20,10.5,3
8465,Ecom1,In Transit,2/27/20,Gresham,OR,97030,FEH,2/25/20,10.5,3
8466,Ecom1,In Transit,2/27/20,Meeker,CO,81641,FXG,2/26/20,10.5,3

In [6]:
df_2020_02.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_02.
df_2020_02_rows = len(df_2020_02.axes[0])
df_2020_02_cols = len(df_2020_02.axes[1])
print("Number of Rows: ", df_2020_02_rows)
print("Number of Columns: ", df_2020_02_cols)

Number of Rows:  8467
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_02.
df_2020_02.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_02.
df_2020_02.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_02['Company Name'].value_counts()

Ecom3      3725
Winery1    2585
Ecom1      2116
Winery2      41
Name: Company Name, dtype: int64

In [11]:
df_2020_02['Ship Date'].value_counts()

2/14/20    2002
2/3/20      732
2/12/20     670
2/24/20     591
2/17/20     583
2/5/20      397
2/28/20     351
2/26/20     348
2/10/20     345
2/21/20     274
2/25/20     236
2/7/20      235
2/11/20     227
2/6/20      223
2/27/20     216
2/20/20     203
2/19/20     201
2/18/20     155
2/29/20     144
2/4/20      124
2/13/20     105
2/2/20      105
Name: Ship Date, dtype: int64

In [12]:
df_2020_02['Status'].value_counts()

Delivered            4527
Shipped              2092
In Transit           1674
Carrier Exception     142
Delivery Attempt       32
Name: Status, dtype: int64

In [13]:
df_2020_02['City'].value_counts()

New York                245
Chicago                 129
San Francisco           102
Brooklyn                 95
Houston                  95
                       ...
Grosse Pointe Shores      1
Lewis Center              1
Forestville               1
Montgomery Village        1
Meeker                    1
Name: City, Length: 2811, dtype: int64

In [14]:
df_2020_02['State'].value_counts()

CA    1205
NY     795
TX     636
FL     626
PA     441
IL     387
NJ     381
VA     310
GA     274
MA     247
OH     244
CO     239
MI     229
NC     212
AZ     194
WA     182
MD     169
TN     163
CT     128
IN     126
OR     101
MO      99
LA      94
WI      91
MN      89
SC      83
DC      81
NV      76
KS      66
HI      53
OK      48
IA      44
NE      43
AR      40
ID      33
AL      33
RI      30
NM      28
NH      26
ME      21
MT      20
ND      15
SD      13
DE      12
VT      11
WY      10
WV      10
AK       9
Name: State, dtype: int64

In [15]:
df_2020_02['Zip'].value_counts()

94103    20
10022    19
10016    19
20001    17
10019    16
         ..
59047     1
32578     1
95965     1
53186     1
81641     1
Name: Zip, Length: 4318, dtype: int64

In [16]:
df_2020_02['Shipping Service'].value_counts()

UPS     5453
FEH     2084
FXG      752
AZS       81
LSO1      34
FEX       28
UP2       17
WCU       15
UP1        2
FXP        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_02['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

2/11/20     2526
2/17/20      378
2/3/20       358
2/24/20      334
2/10/20      314
2/21/20      304
2/2/20       299
2/20/20      293
2/6/20       271
2/19/20      267
2/14/20      233
2/26/20      229
2/27/20      206
2/4/20       200
2/18/20      195
2/5/20       193
2/25/20      184
2/7/20       179
2/1/20       165
2/13/20      146
2/22/20      145
2/28/20      139
2/12/20      124
2/29/20      121
2/23/20      112
1/31/20      106
2/16/20       97
2/8/20        78
2/15/20       73
2/9/20        60
1/27/20       39
1/28/20       35
1/29/20       30
1/30/20       25
1/20/20        4
1/22/20        2
1/5/20         1
1/24/20        1
10/11/19       1
Name: Created Date, dtype: int64

In [18]:
df_2020_02['Weight'].value_counts()

14.00    2558
21.50    2057
10.50    1372
20.20     508
41.00     457
39.00     330
7.00      287
9.90      234
27.00     122
18.50      96
29.00      91
3.35       72
35.00      50
26.00      42
32.00      41
17.20      27
30.00      23
4.00       23
39.50      18
24.00      16
38.00      14
33.00      12
11.00       5
20.00       4
36.00       2
13.50       2
44.00       1
33.50       1
27.50       1
20.50       1
Name: Weight, dtype: int64

In [19]:
df_2020_02['Item/Bottle Count'].value_counts()

6     2570
4     2558
3     1607
12     804
2      264
8      213
1      127
5      123
9       64
10      63
7       58
11      16
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_02.
df_2020_02["Item/Bottle Count"]=df_2020_02["Item/Bottle Count"].astype(float)
df_2020_02.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_02.
df_2020_02 = df_2020_02.drop('Status', axis=1)
df_2020_02

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,2/5/20,Iowa City,IA,52242,FXG,2/5/20,21.5,6.0
1,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,41.0,12.0
2,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,21.5,6.0
3,Ecom3,2/4/20,Sacramento,CA,95818,UPS,2/4/20,14.0,4.0
4,Ecom3,2/5/20,Williamsburg,VA,23185,UPS,2/5/20,21.5,6.0
...,...,...,...,...,...,...,...,...,...
8462,Ecom1,2/24/20,Bossier City,LA,71111,FEH,2/24/20,30.0,9.0
8463,Ecom1,2/25/20,Atlanta,GA,30340,FEH,2/19/20,20.2,6.0
8464,Ecom1,2/27/20,St. Louis,MO,63110,FXG,2/27/20,10.5,3.0
8465,Ecom1,2/27/20,Gresham,OR,97030,FEH,2/25/20,10.5,3.0
8466,Ecom1,2/27/20,Meeker,CO,81641,FXG,2/26/20,10.5,3.0

In [22]:
# Drop the NaNs for df_2020_02.
df_2020_02 = df_2020_02.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_02.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
7679,Ecom3,2/24/20,Bala Cynwyd,PA,19004,UPS,2/24/20,7.0,2.0
2042,Ecom3,2/14/20,Niles,MI,49120,UPS,2/14/20,41.0,12.0
8067,Ecom1,2/24/20,New york,NY,10165,FXG,2/24/20,10.5,3.0
586,Ecom3,2/3/20,Santa Fe,NM,87505,FEH,2/2/20,21.5,6.0
1787,Ecom1,2/6/20,CHARLOTTE,NC,28273,FXG,2/6/20,10.5,3.0

In [24]:
#Determine total rows for df_2020_02.
df_2020_02_rows = len(df_2020_02.axes[0])
df_2020_02_cols = len(df_2020_02.axes[1])
print("Number of Rows: ", df_2020_02_rows)
print("Number of Columns: ", df_2020_02_cols)

Number of Rows:  8467
Number of Columns:  9

In [25]:
df_2020_02.shape[0]

8467

## Export Cleaned DF to .CSV

In [26]:
#Export df_2020_02 to .csv
df_2020_02.to_csv('../cleaned_months_2020/Clean_2020_02.csv')