In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [4]:
# Files to load
load_2020_04 = "../../2020_Data/2020.04copy.csv"

In [5]:
# Read the April CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_04 = pd.read_csv(load_2020_04)
df_2020_04.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,4/2/20,Marco Island,FL,34145,UPS,4/1/20,21.5,6.0
1,Ecom3,Delivered,4/1/20,Dana Point,CA,92629,UPS,4/1/20,18.5,5.0
2,Ecom3,In Transit,4/2/20,Port Orange,FL,32127,UPS,4/2/20,9.9,3.0
3,Ecom3,Delivered,4/3/20,Glen Mills,PA,19342,UPS,4/2/20,41.0,12.0
4,Ecom3,Delivered,4/1/20,San Diego,CA,92130,UPS,4/1/20,21.5,6.0

## Inspect the Data

In [6]:
#See five random rows of data
df_2020_04.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
13616,Ecom2,Shipped,4/24/20,Austin,TX,78702,LSO1,4/23/20,7.0,1.0
7619,Winery1,Delivered,4/15/20,San Diego,CA,92106,UPS,NaN,NaN,NaN
9731,Ecom1,In Transit,4/17/20,Mars,PA,16046,FXG,NaN,NaN,NaN
8855,Winery1,Shipped,4/17/20,Phoenix,AZ,85016,AZS,NaN,NaN,NaN
17587,Ecom1,Delivered,4/30/20,Los Angeles,CA,90015,FEH,4/22/20,20.2,6.0

In [7]:
#See the last rows of data
df_2020_04.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
21293,Winery3,Delivered,4/27/20,Pacifica,CA,94044,GSC,4/27/20,14.0,4.0
21294,Winery3,In Transit,4/27/20,Pacifica,CA,94044,GSC,4/27/20,7.0,2.0
21295,Winery3,In Transit,4/28/20,Gardena,CA,90249,GSC,4/28/20,21.5,6.0
21296,Winery3,In Transit,4/29/20,Durham,CA,95938,GSC,4/29/20,21.5,6.0
21297,Winery3,In Transit,4/30/20,Tulsa,OK,74104,UPS,4/30/20,41.0,12.0

In [8]:
df_2020_04.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [9]:
#Determine total rows for df_2020_04.
df_2020_04_rows = len(df_2020_04.axes[0])
df_2020_04_cols = len(df_2020_04.axes[1])
print("Number of Rows: ", df_2020_04_rows)
print("Number of Columns: ", df_2020_04_cols)

Number of Rows:  21298
Number of Columns:  10

In [10]:
# Determine if there are any missing values in df_2020_04.
df_2020_04.isnull().sum()

Company Name            0
Status                  0
Ship Date               0
City                    0
State                   0
Zip                     0
Shipping Service        0
Created Date         6439
Weight               6439
Item/Bottle Count    6439
dtype: int64

In [11]:
# Determine data types for df_2020_04.
df_2020_04.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [12]:
df_2020_04['Company Name'].value_counts()

Ecom3      9977
Ecom1      5165
Winery1    2645
Ecom2      2289
Winery2     728
Winery3     494
Name: Company Name, dtype: int64

In [13]:
df_2020_04['Ship Date'].value_counts()

4/17/20    3001
4/24/20    2125
4/15/20    1321
4/13/20    1270
4/20/20    1134
4/27/20    1061
4/10/20    1015
4/6/20     1006
4/29/20     987
4/23/20     960
4/7/20      885
4/1/20      871
4/28/20     777
4/3/20      674
4/22/20     671
4/8/20      612
4/9/20      572
4/14/20     549
4/21/20     484
4/16/20     429
4/30/20     412
4/11/20     247
4/2/20      235
Name: Ship Date, dtype: int64

In [14]:
df_2020_04['Status'].value_counts()

Delivered            11282
In Transit            5867
Shipped               3535
Carrier Exception      495
Delivery Attempt       119
Name: Status, dtype: int64

In [15]:
df_2020_04['City'].value_counts()

New York         438
Chicago          312
Philadelphia     238
Brooklyn         206
Pittsburgh       201
                ...
Minooka            1
Watervliet         1
Norway             1
Dundee             1
Saint charles      1
Name: City, Length: 5128, dtype: int64

In [16]:
df_2020_04['State'].value_counts()

CA    2400
NY    2157
PA    2013
FL    1412
TX    1357
NJ    1106
IL    1003
MA     802
MI     692
OH     669
VA     592
GA     581
CO     517
NC     510
MD     495
WA     390
CT     389
TN     383
AZ     355
IN     311
WI     276
MN     255
MO     237
SC     233
LA     219
OR     196
DC     172
NV     141
RI     137
HI     117
KS     114
IA     108
AR     108
NH     106
NE      92
ME      79
NM      76
OK      75
AL      73
ID      64
WV      52
VT      47
MT      45
AK      38
ND      29
SD      28
WY      24
DE      22
Va       1
Name: State, dtype: int64

In [17]:
df_2020_04['Zip'].value_counts()

19103         42
10019         41
10011         37
94558         34
10128         33
              ..
92780          1
62258-1339     1
71360          1
68164          1
50240          1
Name: Zip, Length: 7346, dtype: int64

In [18]:
df_2020_04['Shipping Service'].value_counts()

UPS     12145
FEH      7477
FXG      1071
LSO1      206
FEX       117
GSC        95
AZS        80
WCU        40
UP2        24
FXE        21
UP3        10
UP1         4
SELF        4
WCP         2
FXP         2
Name: Shipping Service, dtype: int64

In [19]:
df_2020_04['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

4/23/20    2505
4/27/20     817
4/6/20      763
4/28/20     707
4/20/20     684
4/26/20     665
4/10/20     635
4/2/20      563
4/24/20     526
4/19/20     492
4/3/20      488
4/17/20     485
4/4/20      468
4/1/20      449
4/7/20      412
4/21/20     409
3/31/20     402
4/9/20      396
3/30/20     354
4/8/20      339
4/22/20     311
4/18/20     301
3/27/20     249
4/25/20     230
4/29/20     221
4/5/20      201
3/28/20     148
4/13/20     119
4/15/20     117
3/29/20     113
3/26/20      79
4/30/20      62
3/25/20      45
4/11/20      22
4/16/20      20
4/14/20      14
3/17/20      13
3/12/20      10
3/23/20       4
3/14/20       4
4/12/20       4
3/13/20       3
3/24/20       3
3/16/20       2
3/18/20       1
3/15/20       1
2/21/20       1
2/11/20       1
3/20/20       1
Name: Created Date, dtype: int64

In [20]:
df_2020_04['Weight'].value_counts()

21.50    3320
7.00     3011
14.00    1256
20.20    1220
39.00    1181
10.50    1174
41.00    1007
9.90      749
10.00     326
18.50     307
29.00     256
3.35      208
26.00     193
20.00     168
32.00     109
35.00     101
27.00      35
4.00       34
24.00      34
30.00      34
19.00      32
38.00      26
17.20      20
33.00      14
19.50      10
23.20       9
26.20       5
13.50       5
48.00       3
13.00       3
45.00       3
38.20       2
20.50       1
39.50       1
42.00       1
29.20       1
Name: Weight, dtype: int64

In [21]:
df_2020_04['Item/Bottle Count'].value_counts()

6.0     4750
1.0     2534
3.0     2249
12.0    2191
4.0     1266
2.0      721
5.0      327
8.0      293
7.0      236
9.0      144
10.0     115
11.0      26
15.0       3
14.0       3
13.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [22]:
#Remove "Status" column from df_2020_04.
df_2020_04 = df_2020_04.drop('Status', axis=1)
df_2020_04

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,4/2/20,Marco Island,FL,34145,UPS,4/1/20,21.5,6.0
1,Ecom3,4/1/20,Dana Point,CA,92629,UPS,4/1/20,18.5,5.0
2,Ecom3,4/2/20,Port Orange,FL,32127,UPS,4/2/20,9.9,3.0
3,Ecom3,4/3/20,Glen Mills,PA,19342,UPS,4/2/20,41.0,12.0
4,Ecom3,4/1/20,San Diego,CA,92130,UPS,4/1/20,21.5,6.0
...,...,...,...,...,...,...,...,...,...
21293,Winery3,4/27/20,Pacifica,CA,94044,GSC,4/27/20,14.0,4.0
21294,Winery3,4/27/20,Pacifica,CA,94044,GSC,4/27/20,7.0,2.0
21295,Winery3,4/28/20,Gardena,CA,90249,GSC,4/28/20,21.5,6.0
21296,Winery3,4/29/20,Durham,CA,95938,GSC,4/29/20,21.5,6.0
21297,Winery3,4/30/20,Tulsa,OK,74104,UPS,4/30/20,41.0,12.0

In [23]:
# Drop the NaNs for df_2020_04.
df_2020_04 = df_2020_04.dropna()

In [ ]:
df_2020_04=df_2020_04.reset_index()
df_2020_04

## Confirm Changes

In [24]:
#See five random rows of data
df_2020_04.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
20092,Ecom3,4/30/20,Boca Raton,FL,33434,UPS,4/28/20,21.5,6.0
14315,Ecom2,4/24/20,Holland,PA,18966,UPS,4/23/20,7.0,1.0
13279,Ecom1,4/23/20,Randolph,NJ,7869,FEH,4/22/20,4.0,1.0
15280,Ecom2,4/24/20,Long Branch,NJ,7740,FEH,4/23/20,7.0,1.0
17759,Ecom1,4/27/20,PHOENIX,AZ,85009,FXG,4/26/20,10.5,3.0

In [25]:
#Determine total rows for df_2020_04.
df_2020_04_rows = len(df_2020_04.axes[0])
df_2020_04_cols = len(df_2020_04.axes[1])
print("Number of Rows: ", df_2020_04_rows)
print("Number of Columns: ", df_2020_04_cols)

Number of Rows:  14859
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2020_04 to .csv
df_2020_04.to_csv('../cleaned_months_2020/Clean_2020_04.csv')