In [2]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [3]:
# Files to load
load_2020_04 = "../../2020_Data/2020.04.csv"

In [4]:
# Read the April CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_04 = pd.read_csv(load_2020_04)
df_2020_04.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,4/2/20,Marco Island,FL,34145,UPS,4/1/20,21.5,6.0
1,Ecom3,Delivered,4/1/20,Dana Point,CA,92629,UPS,4/1/20,18.5,5.0
2,Ecom3,In Transit,4/2/20,Port Orange,FL,32127,UPS,4/2/20,9.9,3.0
3,Ecom3,Delivered,4/3/20,Glen Mills,PA,19342,UPS,4/2/20,41.0,12.0
4,Ecom3,Delivered,4/1/20,San Diego,CA,92130,UPS,4/1/20,21.5,6.0

## Inspect the Data

In [5]:
#See five random rows of data
df_2020_04.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4961,Ecom3,Delivered,4/7/20,Denver,CO,80211,UPS,4/4/20,21.5,6.0
6777,Winery2,Shipped,4/17/20,Holmen,WI,54636,UPS,NaN,NaN,NaN
1456,Winery1,Shipped,4/3/20,Chicago,IL,60614,UPS,3/31/20,39.0,12.0
5950,Ecom1,Delivered,4/13/20,Aventura,FL,33180,FEH,NaN,NaN,NaN
12500,Ecom1,Delivered,4/20/20,Elgin,TX,78621,FEH,4/19/20,39.0,12.0

In [6]:
#See the last rows of data
df_2020_04.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
20799,Ecom3,Delivered,4/27/20,Bethlehem,PA,18020,UPS,4/24/20,7.0,2.0
20800,Ecom3,Delivered,4/27/20,"Miami,",FL,33176,UPS,4/26/20,14.0,4.0
20801,Ecom3,In Transit,4/29/20,Glenview,IL,60026,UPS,4/28/20,21.5,6.0
20802,Ecom3,Delivered,4/29/20,Skaneateles,NY,13152,FEH,4/27/20,21.5,6.0
20803,Ecom3,Delivered,4/28/20,LORTON,VA,22079,UPS,4/26/20,21.5,6.0

In [7]:
df_2020_04.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [8]:
#Determine total rows for df_2020_04.
df_2020_04_rows = len(df_2020_04.axes[0])
df_2020_04_cols = len(df_2020_04.axes[1])
print("Number of Rows: ", df_2020_04_rows)
print("Number of Columns: ", df_2020_04_cols)

Number of Rows:  20804
Number of Columns:  10

In [9]:
# Determine if there are any missing values in df_2020_04.
df_2020_04.isnull().sum()

Company Name            0
Status                  0
Ship Date               0
City                    0
State                   0
Zip                     0
Shipping Service        0
Created Date         6439
Weight               6439
Item/Bottle Count    6439
dtype: int64

In [10]:
# Determine data types for df_2020_04.
df_2020_04.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2020_04['Company Name'].value_counts()

Ecom3      9977
Ecom1      5165
Winery1    2645
Ecom2      2289
Winery2     728
Name: Company Name, dtype: int64

In [12]:
df_2020_04['Ship Date'].value_counts()

4/17/20    2977
4/24/20    2112
4/15/20    1318
4/13/20    1176
4/20/20    1131
4/27/20    1056
4/6/20     1005
4/29/20     986
4/23/20     960
4/7/20      885
4/1/20      871
4/28/20     775
4/10/20     705
4/3/20      667
4/22/20     660
4/8/20      611
4/9/20      569
4/14/20     543
4/21/20     482
4/16/20     425
4/30/20     411
4/11/20     247
4/2/20      232
Name: Ship Date, dtype: int64

In [13]:
df_2020_04['Status'].value_counts()

Delivered            11106
In Transit            5603
Shipped               3487
Carrier Exception      490
Delivery Attempt       118
Name: Status, dtype: int64

In [14]:
df_2020_04['City'].value_counts()

New York          434
Chicago           307
Philadelphia      238
Brooklyn          204
Pittsburgh        201
                 ...
LOUISVILLE          1
YUKON               1
Rehoboth Beach      1
Cardiff             1
LORTON              1
Name: City, Length: 5072, dtype: int64

In [15]:
df_2020_04['State'].value_counts()

CA    2288
NY    2135
PA    2003
FL    1384
TX    1301
NJ    1091
IL     984
MA     796
MI     683
OH     636
VA     582
GA     575
NC     494
CO     490
MD     488
WA     387
CT     384
TN     377
AZ     350
IN     304
WI     258
MN     253
SC     227
MO     226
LA     212
OR     193
DC     172
NV     138
RI     134
HI     117
KS     111
AR     108
NH     105
IA     103
NE      88
ME      78
NM      73
OK      69
AL      66
ID      63
WV      52
VT      47
MT      44
AK      38
SD      26
ND      24
WY      24
DE      22
Va       1
Name: State, dtype: int64

In [16]:
df_2020_04['Zip'].value_counts()

19103         42
10019         41
10011         36
10128         32
19087         32
              ..
8088           1
19128-1751     1
6013           1
94030          1
13152          1
Name: Zip, Length: 7263, dtype: int64

In [17]:
df_2020_04['Shipping Service'].value_counts()

UPS     11778
FEH      7477
FXG      1054
LSO1      206
FEX       117
AZS        80
WCU        30
UP2        24
FXE        21
UP3         8
UP1         4
WCP         2
FXP         2
GSC         1
Name: Shipping Service, dtype: int64

In [18]:
df_2020_04['Created Date'].value_counts()
#Clean out March Dates (use for loop?)

4/23/20    2505
4/27/20     812
4/6/20      762
4/28/20     705
4/20/20     681
4/26/20     665
4/2/20      560
4/24/20     513
4/19/20     492
4/3/20      481
4/4/20      468
4/17/20     461
4/1/20      449
4/7/20      412
4/21/20     407
3/31/20     402
4/9/20      393
3/30/20     354
4/8/20      338
4/10/20     325
4/18/20     301
4/22/20     300
3/27/20     249
4/25/20     230
4/29/20     220
4/5/20      201
3/28/20     148
4/15/20     114
3/29/20     113
3/26/20      79
4/30/20      61
3/25/20      45
4/13/20      25
4/11/20      22
4/16/20      16
3/17/20      13
3/12/20      10
4/14/20       8
3/14/20       4
4/12/20       4
3/23/20       4
3/13/20       3
3/24/20       3
3/16/20       2
3/20/20       1
2/11/20       1
2/21/20       1
3/18/20       1
3/15/20       1
Name: Created Date, dtype: int64

In [19]:
df_2020_04['Weight'].value_counts()

21.50    3155
7.00     2929
20.20    1220
14.00    1182
39.00    1181
10.50    1174
41.00     962
9.90      703
10.00     326
18.50     287
29.00     242
26.00     188
3.35      183
20.00     168
32.00     100
35.00      94
27.00      35
4.00       34
24.00      34
30.00      34
19.00      32
38.00      24
17.20      20
33.00      14
19.50      10
23.20       9
26.20       5
13.50       5
48.00       3
13.00       3
45.00       3
38.20       2
20.50       1
39.50       1
42.00       1
29.20       1
Name: Weight, dtype: int64

In [20]:
df_2020_04['Item/Bottle Count'].value_counts()

6.0     4585
1.0     2509
3.0     2203
12.0    2146
4.0     1192
2.0      639
5.0      307
8.0      279
7.0      231
9.0      135
10.0     108
11.0      24
15.0       3
14.0       3
13.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Remove "Status" column from df_2020_04.
df_2020_04 = df_2020_04.drop('Status', axis=1)
df_2020_04

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,4/2/20,Marco Island,FL,34145,UPS,4/1/20,21.5,6.0
1,Ecom3,4/1/20,Dana Point,CA,92629,UPS,4/1/20,18.5,5.0
2,Ecom3,4/2/20,Port Orange,FL,32127,UPS,4/2/20,9.9,3.0
3,Ecom3,4/3/20,Glen Mills,PA,19342,UPS,4/2/20,41.0,12.0
4,Ecom3,4/1/20,San Diego,CA,92130,UPS,4/1/20,21.5,6.0
...,...,...,...,...,...,...,...,...,...
20799,Ecom3,4/27/20,Bethlehem,PA,18020,UPS,4/24/20,7.0,2.0
20800,Ecom3,4/27/20,"Miami,",FL,33176,UPS,4/26/20,14.0,4.0
20801,Ecom3,4/29/20,Glenview,IL,60026,UPS,4/28/20,21.5,6.0
20802,Ecom3,4/29/20,Skaneateles,NY,13152,FEH,4/27/20,21.5,6.0
20803,Ecom3,4/28/20,LORTON,VA,22079,UPS,4/26/20,21.5,6.0

In [23]:
# Drop the NaNs for df_2020_04.
df_2020_04 = df_2020_04.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2020_04.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
2601,Ecom1,4/10/20,Ann Arbor,MI,48103,FEH,4/10/20,20.2,6.0
3830,Ecom3,4/7/20,Nantucket,MA,2554,FEH,4/4/20,26.0,7.0
1922,Ecom1,4/6/20,Gainesville,FL,32607,FEH,4/6/20,10.5,3.0
4261,Ecom3,4/8/20,San Antonio,TX,78260,UPS,4/5/20,9.9,3.0
18446,Ecom2,4/29/20,Cape Coral,FL,33914,FEH,4/28/20,7.0,1.0

In [25]:
#Determine total rows for df_2020_04.
df_2020_04_rows = len(df_2020_04.axes[0])
df_2020_04_cols = len(df_2020_04.axes[1])
print("Number of Rows: ", df_2020_04_rows)
print("Number of Columns: ", df_2020_04_cols)

Number of Rows:  14365
Number of Columns:  9

## Export Cleaned df to .CSV

In [31]:
#Export df_2020_04 to .csv
df_2020_04.to_csv('../cleaned_months_2020/Clean_2020_04.csv')