In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_10 = "../../2020_Data/2020.10.csv"

In [3]:
# Read the October CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_10 = pd.read_csv(load_2020_10)
df_2020_10.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,In Transit,10/2/20,Albuquerque,NM,87111,FEH,9/25/20,10.5,3
1,Ecom1,Delivered,10/2/20,San Francisco,CA,94123,FEH,9/25/20,10.5,3
2,Ecom1,Delivered,10/2/20,Carlsbad,CA,92011,FEH,9/24/20,10.5,3
3,Ecom1,Delivered,10/2/20,Roseville,CA,95747,FEH,9/24/20,10.5,3
4,Ecom1,In Transit,10/2/20,Como,CO,80432,FEH,9/28/20,18.2,8

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_10.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4809,Ecom3,Delivered,10/13/20,Vernon Hills,IL,60061,UPS,10/12/20,14.0,4
7690,Winery1,Shipped,10/23/20,Houston,TX,77070,UPS,10/21/20,39.0,12
11785,Ecom2,In Transit,10/22/20,Glenview,IL,60025,FEH,10/20/20,7.0,2
12505,Ecom2,In Transit,10/21/20,Charlotte,TN,37036,FEH,10/20/20,7.0,2
9277,Ecom2,In Transit,10/23/20,Weymouth,MA,2190,UPS,10/20/20,7.0,2

In [5]:
#See the last rows of data
df_2020_10.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19929,Ecom3,Delivered,10/26/20,Honolulu,HI,96815,UPS,10/25/20,21.5,6
19930,Ecom3,Delivered,10/26/20,Temperance,MI,48182,UPS,10/25/20,21.5,6
19931,Ecom3,In Transit,10/29/20,NAPLES,FL,34103,UPS,10/28/20,21.5,6
19932,Ecom3,Delivered,10/26/20,Atlanta,GA,30342,UPS,10/25/20,21.5,6
19933,Ecom3,Delivered,10/27/20,Simi Valley,CA,93063,UPS,10/26/20,21.5,6

In [6]:
df_2020_10.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_10.
df_2020_10_rows = len(df_2020_10.axes[0])
df_2020_10_cols = len(df_2020_10.axes[1])
print("Number of Rows: ", df_2020_10_rows)
print("Number of Columns: ", df_2020_10_cols)

Number of Rows:  19934
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_10.
df_2020_10.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_10.
df_2020_10.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_10['Company Name'].value_counts()

Ecom3      10233
Ecom2       5542
Ecom1       2997
Winery1      613
Winery2      549
Name: Company Name, dtype: int64

In [11]:
df_2020_10['Ship Date'].value_counts()

10/22/20    3071
10/21/20    2151
10/23/20    2145
10/12/20    1399
10/26/20    1134
10/20/20    1122
10/19/20    1092
10/5/20      940
10/13/20     736
10/14/20     615
10/31/20     563
10/16/20     542
10/6/20      538
10/7/20      525
10/2/20      456
10/27/20     437
10/30/20     382
10/29/20     375
10/9/20      341
10/8/20      331
10/28/20     325
10/1/20      272
10/15/20     249
10/3/20      192
10/4/20        1
Name: Ship Date, dtype: int64

In [12]:
df_2020_10['Status'].value_counts()

Delivered            11776
In Transit            6663
Shipped               1155
Carrier Exception      180
Delivery Attempt       160
Name: Status, dtype: int64

In [13]:
df_2020_10['City'].value_counts()

New York        373
Chicago         257
Brooklyn        167
Austin          160
Washington      155
               ...
Loretto           1
Wood Village      1
Lee's Summit      1
Rankin            1
Mitchell          1
Name: City, Length: 4863, dtype: int64

In [14]:
df_2020_10['State'].value_counts()

NY    1997
CA    1767
FL    1564
PA    1376
TX    1325
NJ    1078
IL     899
MA     762
VA     740
OH     658
MI     652
GA     607
NC     536
MD     534
CO     479
CT     424
WA     336
TN     329
IN     327
AZ     306
MN     283
WI     264
SC     260
MO     226
LA     186
OR     182
DC     160
HI     159
KS     152
RI     140
NV     137
OK     119
NE     105
NH     102
IA     100
ME      94
AR      85
NM      77
WV      75
ID      66
VT      54
DE      38
MT      38
WY      33
SD      28
AK      28
ND      26
AL      21
Name: State, dtype: int64

In [15]:
df_2020_10['Zip'].value_counts()

33156    35
60614    31
11201    30
22314    29
19087    27
         ..
18235     1
16438     1
69001     1
44278     1
57301     1
Name: Zip, Length: 6989, dtype: int64

In [16]:
df_2020_10['Shipping Service'].value_counts()

UPS    10862
FEH     7875
FXG     1032
FEX      106
AZS       19
UP2       10
WCU        9
UP1        8
UP3        6
GSC        2
FXP        2
WCP        2
FXE        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_10['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

10/20/20    6025
10/26/20     989
10/22/20     764
10/18/20     712
10/6/20      680
10/11/20     670
10/10/20     639
10/19/20     635
10/2/20      615
10/13/20     603
10/17/20     557
10/12/20     500
10/16/20     475
10/7/20      450
10/9/20      450
10/25/20     433
10/27/20     427
10/23/20     387
10/15/20     371
10/4/20      342
10/28/20     334
10/21/20     318
10/29/20     318
10/8/20      312
10/1/20      297
10/14/20     294
10/24/20     266
10/5/20      247
9/29/20      221
10/3/20      204
10/30/20     200
9/30/20      132
9/17/20       16
9/25/20        7
9/28/20        6
8/3/20         5
7/21/20        4
8/13/20        3
8/18/20        3
9/24/20        3
9/15/20        2
9/23/20        2
7/22/20        2
9/7/20         1
9/3/20         1
8/11/20        1
8/10/20        1
7/8/20         1
9/14/20        1
9/27/20        1
9/11/20        1
8/4/20         1
8/17/20        1
9/21/20        1
9/1/20         1
9/20/20        1
8/5/20         1
Name: Created Date, dtype: int64

In [18]:
df_2020_10['Weight'].value_counts()

7.00     6232
21.50    5389
41.00    1873
10.50    1697
20.20     979
14.00     895
39.00     814
9.90      492
29.00     325
18.50     206
26.00     168
32.00     162
35.00     148
3.35      142
17.20      84
30.00      66
27.00      60
38.00      49
4.00       31
13.50      27
24.00      21
20.50      14
33.00      10
7.50       10
37.00       8
36.00       7
3.00        5
9.50        3
19.20       3
18.20       2
22.00       2
17.00       2
5.00        1
19.00       1
12.00       1
31.00       1
15.50       1
13.00       1
20.00       1
23.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_10['Item/Bottle Count'].value_counts()

6      6386
2      5264
12     2681
3      2203
1      1176
4       917
8       366
5       287
9       234
7       191
10      157
11       43
13       13
14        8
15        2
18        2
24        2
16        1
132       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_10.
df_2020_10["Item/Bottle Count"]=df_2020_10["Item/Bottle Count"].astype(float)
df_2020_10.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_10.
df_2020_10 = df_2020_10.drop('Status', axis=1)
df_2020_10

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,10/2/20,Albuquerque,NM,87111,FEH,9/25/20,10.5,3.0
1,Ecom1,10/2/20,San Francisco,CA,94123,FEH,9/25/20,10.5,3.0
2,Ecom1,10/2/20,Carlsbad,CA,92011,FEH,9/24/20,10.5,3.0
3,Ecom1,10/2/20,Roseville,CA,95747,FEH,9/24/20,10.5,3.0
4,Ecom1,10/2/20,Como,CO,80432,FEH,9/28/20,18.2,8.0
...,...,...,...,...,...,...,...,...,...
19929,Ecom3,10/26/20,Honolulu,HI,96815,UPS,10/25/20,21.5,6.0
19930,Ecom3,10/26/20,Temperance,MI,48182,UPS,10/25/20,21.5,6.0
19931,Ecom3,10/29/20,NAPLES,FL,34103,UPS,10/28/20,21.5,6.0
19932,Ecom3,10/26/20,Atlanta,GA,30342,UPS,10/25/20,21.5,6.0
19933,Ecom3,10/27/20,Simi Valley,CA,93063,UPS,10/26/20,21.5,6.0

In [22]:
# Drop the NaNs for df_2020_10.
df_2020_10 = df_2020_10.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_10.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
17623,Winery1,10/31/20,Mayfield Heights,OH,44124,UPS,10/27/20,7.0,2.0
9978,Ecom2,10/22/20,Charlotte,NC,28211,FEH,10/20/20,7.0,2.0
1011,Ecom1,10/5/20,HOUSTON,TX,77099,FXG,10/4/20,10.5,3.0
13182,Ecom2,10/23/20,Rutherford,NJ,7070,FEH,10/20/20,7.0,2.0
974,Ecom1,10/5/20,South Deerfield,MA,1373,UPS,10/4/20,10.5,3.0

In [24]:
#Determine total rows for df_2020_10.
df_2020_10_rows = len(df_2020_10.axes[0])
df_2020_10_cols = len(df_2020_10.axes[1])
print("Number of Rows: ", df_2020_10_rows)
print("Number of Columns: ", df_2020_10_cols)

Number of Rows:  19934
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_10 to .csv
df_2020_10.to_csv('../cleaned_months_2020/Clean_2020_10.csv')