In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_07 = "../2021_Data/2021.07.csv"

In [3]:
# Read the July CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_07 = pd.read_csv(load_2021_07)
df_2021_07.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,In Transit,7/26/21,Austin,TX,78738,FEH,7/26/21,7.0,2
1,Ecom2,In Transit,7/26/21,Raleigh,NC,27604,FEH,7/26/21,7.0,2
2,Ecom2,In Transit,7/26/21,Summerville,SC,29483,FEH,7/26/21,7.0,2
3,Ecom2,In Transit,7/26/21,Matthews,NC,28105,FXG,7/26/21,7.0,2
4,Ecom2,In Transit,7/26/21,Scottsdale,AZ,85251,UPS,7/26/21,7.0,2

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_07.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
5692,Ecom3,Shipped,7/7/21,New Castle,PA,16101,UPS,7/7/21,21.5,6
11519,Ecom1,In Transit,7/21/21,Williamsville,NY,14221,FEH,7/19/21,6.5,1
6518,Ecom3,In Transit,7/12/21,New York,NY,10011,FEH,7/11/21,21.5,6
9591,Ecom3,Delivered,7/30/21,Fort Washington,MD,20744,FEH,7/30/21,14.0,4
5264,Ecom3,In Transit,7/6/21,Holmes Beach,FL,34217,UPS,7/3/21,14.0,4

In [5]:
#See the last rows of data
df_2021_07.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12773,Ecom1,Delivered,7/30/21,Hermosa Beach,CA,90254,FEH,7/29/21,39.0,12
12774,Ecom1,In Transit,7/30/21,Ada,OK,74820,UPS,7/29/21,39.0,12
12775,Ecom1,Delivered,7/30/21,San Diego,CA,92103,FEH,7/30/21,14.0,4
12776,Ecom1,In Transit,7/30/21,DENVER,CO,80221,FEH,7/30/21,20.2,6
12777,Ecom1,Delivery Attempt,7/30/21,Tempe,AZ,85282,FEH,7/30/21,10.5,3

In [7]:
df_2021_07.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [8]:
#Determine total rows for df_2021_07.
df_2021_07_rows = len(df_2021_07.axes[0])
df_2021_07_cols = len(df_2021_07.axes[1])
print("Number of Rows: ", df_2021_07_rows)
print("Number of Columns: ", df_2021_07_cols)

Number of Rows:  12778
Number of Columns:  10

In [9]:
# Determine if there are any missing values in df_2021_07.
df_2021_07.isnull().sum()

Company Name           0
Status               116
Ship Date              0
City                   0
State                  0
Zip                    0
Shipping Service       0
Created Date         116
Weight               116
Item/Bottle Count      0
dtype: int64

In [10]:
# Determine data types for df_2021_07.
df_2021_07.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [11]:
df_2021_07['Company Name'].value_counts()

Ecom3      5307
Ecom2      4068
Ecom1      3092
Winery1     154
Winery3     116
Winery2      41
Name: Company Name, dtype: int64

In [12]:
df_2021_07['Ship Date'].value_counts()

7/21/21    2829
7/22/21    2088
7/6/21     1017
7/26/21     628
7/19/21     579
7/2/21      542
7/8/21      537
7/12/21     524
7/7/21      449
7/23/21     423
7/29/21     407
7/13/21     355
7/20/21     350
7/1/21      337
7/27/21     322
7/16/21     282
7/9/21      281
7/15/21     226
7/14/21     210
7/30/21     209
7/28/21     183
Name: Ship Date, dtype: int64

In [13]:
df_2021_07['Status'].value_counts()

In Transit           7989
Shipped              3417
Delivered            1074
Carrier Exception     129
Delivery Attempt       53
Name: Status, dtype: int64

In [14]:
df_2021_07['City'].value_counts()

New York          239
Chicago           176
Brooklyn          133
Los Angeles        98
Philadelphia       91
                 ...
Murrells Inlet      1
Dumfries            1
Potomac Falls       1
Fearrington         1
Hermosa Beach       1
Name: City, Length: 4062, dtype: int64

In [15]:
df_2021_07['State'].value_counts()

NY    1493
CA    1421
PA     938
NJ     875
FL     771
TX     607
MA     602
IL     568
MI     444
VA     363
OH     341
GA     303
CT     288
WA     287
NC     262
MD     259
CO     255
MN     234
IN     228
WI     192
TN     177
OR     165
AZ     145
SC     143
HI     116
MO     114
NH     101
RI     100
LA      95
DC      88
ME      78
IA      67
KS      64
VT      60
MT      57
OK      52
NV      52
DE      46
ID      41
NM      40
ND      38
SD      35
NE      33
WV      30
AR      30
WY      28
AK      23
KY      17
AL      12
Name: State, dtype: int64

In [16]:
df_2021_07['Zip'].value_counts()

7302     24
14221    20
94558    20
10025    19
11201    19
         ..
5156      1
27617     1
19707     1
23833     1
74820     1
Name: Zip, Length: 5881, dtype: int64

In [17]:
df_2021_07['Shipping Service'].value_counts()

UPS     6124
FEH     5814
FXG      644
FEX       73
UP1       40
UP2       30
WCU       25
GSC       20
AZS        5
SELF       3
Name: Shipping Service, dtype: int64

In [18]:
df_2021_07['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

7/20/21    4240
7/1/21      576
7/2/21      528
7/21/21     490
7/19/21     427
7/26/21     420
7/6/21      371
7/5/21      353
7/28/21     317
7/22/21     312
7/4/21      301
7/18/21     300
7/12/21     292
7/16/21     290
7/23/21     276
7/25/21     272
7/7/21      258
7/15/21     256
7/13/21     255
7/8/21      254
7/11/21     240
7/29/21     228
7/27/21     219
7/14/21     205
7/3/21      197
7/9/21      191
7/10/21     139
6/30/21     135
7/17/21     128
7/24/21      81
7/30/21      60
6/28/21      27
6/29/21      20
6/21/21       2
6/23/21       1
6/25/21       1
Name: Created Date, dtype: int64

In [19]:
df_2021_07['Weight'].value_counts()

7.00     4316
21.50    2750
39.00    1320
10.50    1044
20.20     670
6.50      573
41.00     498
14.00     385
9.90      265
18.50     121
27.00     117
3.35      110
29.00      90
24.00      81
30.00      45
33.00      42
26.00      42
32.00      36
35.00      36
4.00       23
36.00      17
17.20      16
44.00      15
46.00      14
38.00      13
13.50       8
37.00       3
20.50       2
19.20       2
18.20       2
13.00       1
17.50       1
17.00       1
31.00       1
23.00       1
7.50        1
Name: Weight, dtype: int64

In [20]:
df_2021_07['Item/Bottle Count'].value_counts()

2      4322
6      3406
12     1873
3      1312
1       741
4       398
8       207
7       164
5       137
9        84
10       79
11       25
13       15
14        5
18        3
15        3
16        1
24        1
180       1
160       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change ["Item/Bottle Count"] to float64 type in df_2021_07.
df_2021_07["Item/Bottle Count"]=df_2021_07["Item/Bottle Count"].astype(float)
df_2021_07.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [22]:
#Remove "Status" column from df_2021_07.
df_2021_07 = df_2021_07.drop('Status', axis=1)
df_2021_07

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,7/26/21,Austin,TX,78738,FEH,7/26/21,7.0,2.0
1,Ecom2,7/26/21,Raleigh,NC,27604,FEH,7/26/21,7.0,2.0
2,Ecom2,7/26/21,Summerville,SC,29483,FEH,7/26/21,7.0,2.0
3,Ecom2,7/26/21,Matthews,NC,28105,FXG,7/26/21,7.0,2.0
4,Ecom2,7/26/21,Scottsdale,AZ,85251,UPS,7/26/21,7.0,2.0
...,...,...,...,...,...,...,...,...,...
12773,Ecom1,7/30/21,Hermosa Beach,CA,90254,FEH,7/29/21,39.0,12.0
12774,Ecom1,7/30/21,Ada,OK,74820,UPS,7/29/21,39.0,12.0
12775,Ecom1,7/30/21,San Diego,CA,92103,FEH,7/30/21,14.0,4.0
12776,Ecom1,7/30/21,DENVER,CO,80221,FEH,7/30/21,20.2,6.0
12777,Ecom1,7/30/21,Tempe,AZ,85282,FEH,7/30/21,10.5,3.0

In [23]:
# Drop the NaNs for df_2021_07.
df_2021_07 = df_2021_07.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_07.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12233,Ecom1,7/27/21,Reader,WV,26167,FEH,7/26/21,20.2,6.0
6072,Ecom3,7/8/21,Honolulu,HI,96819,UPS,7/3/21,39.0,12.0
7738,Ecom3,7/19/21,MINNEAPOLIS,MN,55419,UPS,7/1/21,39.0,12.0
798,Ecom2,7/21/21,Haskell,NJ,7420,FEH,7/20/21,7.0,2.0
12692,Ecom1,7/30/21,Venice,FL,34285,FEH,7/29/21,39.0,12.0

In [25]:
#Determine total rows for df_2021_07.
df_2021_07_rows = len(df_2021_07.axes[0])
df_2021_07_cols = len(df_2021_07.axes[1])
print("Number of Rows: ", df_2021_07_rows)
print("Number of Columns: ", df_2021_07_cols)

Number of Rows:  12662
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_07 to .csv
df_2021_07.to_csv('../cleaned_months_2021/Clean_2021_07.csv')