In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_05 = "../2021_Data/2021.05.csv"

In [3]:
# Read the May CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_05 = pd.read_csv(load_2021_05, low_memory=False)
df_2021_05.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,In Transit,5/1/2021,Lakeville,MN,55044,FEH,4/28/2021,7.0,2.0
1,Ecom3,Shipped,5/1/2021,McAllen,TX,78504,UPS,4/29/2021,9.9,3.0
2,Ecom3,Shipped,5/1/2021,Dallas,TX,75230,UPS,4/29/2021,14.0,4.0
3,Ecom3,Shipped,5/1/2021,Chino Hills,CA,91709,UPS,4/30/2021,7.0,2.0
4,Ecom3,Shipped,5/1/2021,Berkeley,CA,94703,UPS,4/30/2021,14.0,4.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_05.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
329380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_05.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
675958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_05.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_05.
df_2021_05_rows = len(df_2021_05.axes[0])
df_2021_05_cols = len(df_2021_05.axes[1])
print("Number of Rows: ", df_2021_05_rows)
print("Number of Columns: ", df_2021_05_cols)

Number of Rows:  675963
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_05.
df_2021_05.isnull().sum()

Company Name         656859
Status               657057
Ship Date            656859
City                 656859
State                656859
Zip                  656859
Shipping Service     656859
Created Date         657057
Weight               657057
Item/Bottle Count    656859
dtype: int64

In [9]:
#Surplus of null values due to data extraction from company. 18,906 rows of usable data.

In [10]:
# Determine data types for df_2021_05.
df_2021_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2021_05['Company Name'].value_counts()

Ecom2      7797
Ecom3      7406
Ecom1      3232
Winery1     438
Winery3     198
Winery2      33
Name: Company Name, dtype: int64

In [12]:
df_2021_05['Ship Date'].value_counts()

5/19/2021    6247
5/20/2021    2503
5/3/2021      965
5/11/2021     819
5/10/2021     774
5/28/2021     726
5/25/2021     663
5/17/2021     648
5/24/2021     623
5/5/2021      611
5/26/2021     582
5/12/2021     534
5/18/2021     533
5/4/2021      510
5/27/2021     493
5/13/2021     457
5/14/2021     347
5/6/2021      313
5/7/2021      311
5/21/2021     286
5/29/2021      59
5/1/2021       38
5/15/2021      37
5/16/2021      12
5/9/2021       11
5/23/2021       1
5/22/2021       1
Name: Ship Date, dtype: int64

In [13]:
df_2021_05['Status'].value_counts()

Shipped              10722
In Transit            7520
Delivered              619
Carrier Exception       35
Delivery Attempt        10
Name: Status, dtype: int64

In [14]:
df_2021_05['City'].value_counts()

New York            377
Chicago             210
San Francisco       166
Brooklyn            162
Washington          144
                   ...
Hunt Valley           1
Genoa City            1
Mexico                1
Mokelumne Hill        1
Dripping Springs      1
Name: City, Length: 4816, dtype: int64

In [15]:
df_2021_05['State'].value_counts()

CA    2162
NY    2021
FL    1284
PA    1263
TX    1051
NJ    1026
MA     856
IL     769
OH     665
VA     645
MI     566
CO     560
GA     523
MD     501
NC     470
CT     390
WA     376
TN     337
AZ     299
IN     261
MN     260
WI     249
SC     247
OR     228
MO     194
DC     141
HI     134
LA     132
KS     125
IA     121
NH     118
NV     117
RI     115
NE      93
ME      89
OK      87
AR      83
MT      73
ID      72
NM      70
WV      67
DE      52
VT      50
SD      46
AK      36
ND      34
WY      26
AL      12
KY       8
Name: State, dtype: int64

In [16]:
df_2021_05['Zip'].value_counts()

94558    40
10583    33
10019    32
10023    30
80125    29
         ..
17512     1
75009     1
17022     1
68142     1
98229     1
Name: Zip, Length: 7172, dtype: int64

In [17]:
df_2021_05['Shipping Service'].value_counts()

FEH     8931
UPS     8692
FXG     1021
FEX      242
GSC       85
WCU       41
FXP       32
UP3       22
AZS       16
UP2       14
SELF       3
FXE        2
UP1        2
WCP        1
Name: Shipping Service, dtype: int64

In [18]:
df_2021_05['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

5/18/2021    4599
5/17/2021    3954
5/24/2021     712
5/4/2021      617
5/16/2021     601
5/12/2021     553
5/2/2021      495
5/10/2021     460
5/11/2021     457
5/28/2021     438
5/9/2021      436
5/27/2021     417
5/26/2021     413
5/6/2021      401
5/3/2021      387
5/25/2021     375
5/8/2021      357
5/21/2021     350
5/13/2021     319
4/30/2021     299
5/23/2021     299
5/5/2021      294
5/14/2021     259
5/19/2021     259
5/20/2021     244
5/22/2021     232
5/7/2021      225
5/15/2021     183
5/1/2021      135
4/29/2021      85
4/28/2021      38
5/29/2021       5
4/26/2021       4
4/25/2021       2
4/27/2021       1
4/21/2021       1
Name: Created Date, dtype: int64

In [19]:
df_2021_05['Weight'].value_counts()

7.00     8291
21.50    3466
39.00    1509
10.50    1196
41.00     911
20.20     785
14.00     673
6.50      612
9.90      411
27.00     148
18.50     143
29.00     116
3.35       89
30.00      86
33.00      69
24.00      69
35.00      54
26.00      50
7.50       43
32.00      43
4.00       36
44.00      23
38.00      19
17.20      18
36.00      17
46.00       7
13.50       7
20.50       6
37.00       3
57.00       1
10.00       1
28.00       1
13.00       1
19.20       1
19.50       1
Name: Weight, dtype: int64

In [20]:
df_2021_05['Item/Bottle Count'].value_counts()

2.0     8293
6.0     4314
12.0    2495
3.0     1614
1.0      826
4.0      720
8.0      259
5.0      161
9.0      132
7.0      124
10.0     122
11.0      34
13.0       5
14.0       3
16.0       1
15.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change dtypes if necessary

In [22]:
#Remove "Status" column from df_2021_05.
df_2021_05 = df_2021_05.drop('Status', axis=1)
df_2021_05

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,5/1/2021,Lakeville,MN,55044,FEH,4/28/2021,7.0,2.0
1,Ecom3,5/1/2021,McAllen,TX,78504,UPS,4/29/2021,9.9,3.0
2,Ecom3,5/1/2021,Dallas,TX,75230,UPS,4/29/2021,14.0,4.0
3,Ecom3,5/1/2021,Chino Hills,CA,91709,UPS,4/30/2021,7.0,2.0
4,Ecom3,5/1/2021,Berkeley,CA,94703,UPS,4/30/2021,14.0,4.0
...,...,...,...,...,...,...,...,...,...
675958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop the NaNs for df_2021_05.
df_2021_05 = df_2021_05.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_05.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12982,Ecom3,5/19/2021,Downingtown,PA,19335,UPS,5/15/2021,14.0,4.0
15857,Ecom3,5/21/2021,Chanhassen,MN,55317,UPS,5/20/2021,41.0,12.0
1280,Ecom3,5/4/2021,Marlboro,NJ,7746,UPS,5/4/2021,9.9,3.0
3928,Ecom3,5/11/2021,Edgewater,NJ,7020,UPS,5/10/2021,21.5,6.0
4576,Ecom3,5/12/2021,Barnstable,MA,2630,FEH,5/11/2021,41.0,12.0

In [25]:
#Determine total rows for df_2021_05.
df_2021_05_rows = len(df_2021_05.axes[0])
df_2021_05_cols = len(df_2021_05.axes[1])
print("Number of Rows: ", df_2021_05_rows)
print("Number of Columns: ", df_2021_05_cols)

Number of Rows:  18906
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_05 to .csv
df_2021_05.to_csv('../cleaned_months_2021/Clean_2021_05.csv')