In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_06 = "../2021_Data/2021.06.csv"

In [3]:
# Read the June CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_06 = pd.read_csv(load_2021_06, low_memory=False)
df_2021_06.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,6/1/2021,New York,NY,10065,FXG,5/24/2021,6.5,1.0
1,Ecom1,Shipped,6/1/2021,Great Neck,NY,11021,FXG,5/24/2021,6.5,1.0
2,Ecom1,Shipped,6/1/2021,Fresh Meadows,NY,11366,FXG,5/24/2021,6.5,1.0
3,Ecom1,Shipped,6/1/2021,Saddle River,NJ,7458,FEH,5/24/2021,6.5,1.0
4,Ecom1,In Transit,6/1/2021,Mount Kisco,NY,10549,FEH,5/24/2021,6.5,1.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_06.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
91477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_06.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
706892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_06.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_06.
df_2021_06_rows = len(df_2021_06.axes[0])
df_2021_06_cols = len(df_2021_06.axes[1])
print("Number of Rows: ", df_2021_06_rows)
print("Number of Columns: ", df_2021_06_cols)

Number of Rows:  706897
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_06.
df_2021_06.isnull().sum()

Company Name         689003
Status               689136
Ship Date            689003
City                 689003
State                689003
Zip                  689003
Shipping Service     689003
Created Date         689136
Weight               689136
Item/Bottle Count    689003
dtype: int64

In [9]:
#Surplus of null values due to data extraction from company. 17,761 rows of usable data.

In [10]:
# Determine data types for df_2020_01.
df_2021_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2021_06['Company Name'].value_counts()

Ecom2      7745
Ecom3      6546
Ecom1      3259
Winery1     148
Winery3     133
Winery2      63
Name: Company Name, dtype: int64

In [12]:
df_2021_06['Ship Date'].value_counts()

6/20/2021    5954
6/21/2021    2294
6/14/2021     953
6/28/2021     888
6/1/2021      828
6/7/2021      772
6/2/2021      772
6/4/2021      439
6/18/2021     413
6/30/2021     399
6/10/2021     382
6/17/2021     373
6/29/2021     359
6/15/2021     357
6/24/2021     354
6/25/2021     352
6/11/2021     341
6/8/2021      308
6/22/2021     295
6/3/2021      284
6/23/2021     277
6/16/2021     220
6/5/2021      114
6/9/2021      106
6/26/2021      26
6/13/2021      19
6/6/2021        9
6/27/2021       6
Name: Ship Date, dtype: int64

In [13]:
df_2021_06['Status'].value_counts()

Shipped              8956
In Transit           8413
Delivered             342
Carrier Exception      40
Delivery Attempt       10
Name: Status, dtype: int64

In [14]:
df_2021_06['City'].value_counts()

New York          355
Chicago           238
Brooklyn          191
Washington        140
Philadelphia      113
                 ...
La Motte            1
Brown City          1
Essex Junction      1
Canterbury          1
McAllen             1
Name: City, Length: 4728, dtype: int64

In [15]:
df_2021_06['State'].value_counts()

NY    1982
CA    1649
FL    1248
PA    1162
NJ    1059
TX     915
MA     892
IL     788
MI     598
VA     574
OH     567
NC     525
GA     506
MD     495
CO     476
CT     427
MN     307
WA     303
TN     285
WI     258
SC     249
IN     242
AZ     234
MO     227
OR     192
KS     134
DC     132
LA     128
RI     122
NH     119
HI     116
IA     110
ME      87
NE      82
NV      74
AR      72
WV      70
OK      66
MT      63
NM      60
VT      54
DE      52
ID      49
SD      32
ND      31
WY      31
AK      30
AL      12
KY       8
Name: State, dtype: int64

In [16]:
df_2021_06['Zip'].value_counts()

94558    33
94508    29
60614    27
10023    26
7030     26
         ..
60515     1
80648     1
15147     1
55398     1
12208     1
Name: Zip, Length: 7077, dtype: int64

In [17]:
df_2021_06['Shipping Service'].value_counts()

FEH    9040
UPS    7596
FXG     991
FEX     124
WCU      82
UP2      27
GSC      24
UP1       3
AZS       2
WCP       2
FXO       2
UP3       1
Name: Shipping Service, dtype: int64

In [18]:
df_2021_06['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

6/18/2021    4175
6/17/2021    4125
6/3/2021      610
6/4/2021      516
6/25/2021     451
6/11/2021     435
6/29/2021     408
6/22/2021     402
6/1/2021      383
5/30/2021     374
6/27/2021     367
6/14/2021     365
5/31/2021     341
6/20/2021     339
6/21/2021     334
6/13/2021     283
6/28/2021     282
6/2/2021      281
6/6/2021      265
6/24/2021     256
6/16/2021     251
6/5/2021      239
5/29/2021     239
6/7/2021      238
5/28/2021     225
6/10/2021     225
6/15/2021     222
6/8/2021      196
6/26/2021     193
6/23/2021     172
6/9/2021      169
6/12/2021     149
6/30/2021     128
6/19/2021     108
5/27/2021       8
5/24/2021       5
5/26/2021       1
5/21/2021       1
Name: Created Date, dtype: int64

In [19]:
df_2021_06['Weight'].value_counts()

7.00      8037
21.50     3313
39.00     1590
10.50     1096
20.20      703
41.00      698
6.50       626
14.00      399
9.90       337
27.00      142
18.50      124
29.00      120
3.35       115
30.00       91
24.00       62
33.00       50
35.00       43
32.00       41
26.00       35
44.00       29
4.00        19
36.00       19
17.20       17
38.00       16
13.50        8
20.50        7
46.00        5
23.00        5
37.00        4
17.00        2
18.20        2
12.20        2
34.00        1
141.00       1
19.20        1
9.50         1
Name: Weight, dtype: int64

In [20]:
df_2021_06['Item/Bottle Count'].value_counts()

2.0     8048
6.0     4018
12.0    2358
3.0     1439
1.0      806
4.0      428
8.0      245
5.0      144
9.0      134
7.0      112
10.0      92
11.0      26
13.0      21
14.0      10
16.0       5
15.0       4
17.0       1
47.0       1
18.0       1
24.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change dtypes if necessary

In [22]:
#Remove "Status" column from df_2021_06.
df_2021_06 = df_2021_06.drop('Status', axis=1)
df_2021_06

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,6/1/2021,New York,NY,10065,FXG,5/24/2021,6.5,1.0
1,Ecom1,6/1/2021,Great Neck,NY,11021,FXG,5/24/2021,6.5,1.0
2,Ecom1,6/1/2021,Fresh Meadows,NY,11366,FXG,5/24/2021,6.5,1.0
3,Ecom1,6/1/2021,Saddle River,NJ,7458,FEH,5/24/2021,6.5,1.0
4,Ecom1,6/1/2021,Mount Kisco,NY,10549,FEH,5/24/2021,6.5,1.0
...,...,...,...,...,...,...,...,...,...
706892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop the NaNs for df_2021_06.
df_2021_06 = df_2021_06.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_06.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
6977,Ecom2,6/20/2021,Odessa,TX,79761,FEH,6/18/2021,7.0,2.0
16782,Ecom3,6/28/2021,Jacksonville,FL,32207,UPS,6/28/2021,21.5,6.0
3185,Ecom3,6/7/2021,winter garden,FL,34787,UPS,6/5/2021,14.0,4.0
4794,Ecom3,6/14/2021,Rockville,MD,20852,FEH,6/11/2021,7.0,2.0
5811,Ecom3,6/16/2021,Brooklyn,NY,11229,FEH,6/14/2021,21.5,6.0

In [25]:
#Determine total rows for df_2021_06.
df_2021_06_rows = len(df_2021_06.axes[0])
df_2021_06_cols = len(df_2021_06.axes[1])
print("Number of Rows: ", df_2021_06_rows)
print("Number of Columns: ", df_2021_06_cols)

Number of Rows:  17761
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_06 to .csv
df_2021_06.to_csv('../cleaned_months_2021/Clean_2021_06.csv')