In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_10 = "../../2021_Data/2021.10.csv"

In [4]:
# Read the October CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_10 = pd.read_csv(load_2021_10, low_memory=False)
df_2021_10.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,10/1/2021,Far Hills,NJ,7931,FEH,9/30/2021,20.2,6.0
1,Ecom1,Delivered,10/1/2021,Charlottesville,VA,22903,FEH,9/30/2021,24.0,7.0
2,Ecom1,Delivered,10/1/2021,Norristown,PA,19403-1052,FEH,9/30/2021,39.0,12.0
3,Ecom1,Delivered,10/1/2021,Philadelphia,PA,19136,FEH,9/30/2021,39.0,12.0
4,Ecom1,Delivery Attempt,10/1/2021,Wynnewood,PA,19096,FEH,9/30/2021,39.0,12.0

## Inspect the Data

In [5]:
#See five random rows of data
df_2021_10.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
99580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6491,Ecom2,In Transit,10/21/2021,Helena,MT,59602,UPS,10/18/2021,7.0,2.0
651334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#See the last rows of data
df_2021_10.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
716035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_2021_10.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [8]:
#Determine total rows for df_2021_10.
df_2021_10_rows = len(df_2021_10.axes[0])
df_2021_10_cols = len(df_2021_10.axes[1])
print("Number of Rows: ", df_2021_10_rows)
print("Number of Columns: ", df_2021_10_cols)

Number of Rows:  716040
Number of Columns:  10

In [9]:
# Determine if there are any missing values in df_2021_10.
df_2021_10.isnull().sum()

Company Name         700782
Status               700782
Ship Date            700782
City                 700782
State                700782
Zip                  700782
Shipping Service     700782
Created Date         700782
Weight               700782
Item/Bottle Count    700782
dtype: int64

In [10]:
#Surplus of null values due to data extraction from company. 15,258 rows of usable data.

In [12]:
# Determine data types for df_2021_10.
df_2021_10.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [13]:
df_2021_10['Company Name'].value_counts()

Ecom2      5481
Ecom3      5442
Ecom1      2953
Winery1     695
Winery2     687
Name: Company Name, dtype: int64

In [14]:
df_2021_10['Ship Date'].value_counts()

10/21/2021    5643
10/22/2021    1224
10/25/2021     640
10/26/2021     623
10/18/2021     589
10/4/2021      573
10/28/2021     573
10/11/2021     542
10/27/2021     537
10/6/2021      513
10/8/2021      456
10/15/2021     408
10/19/2021     392
10/7/2021      377
10/13/2021     361
10/29/2021     356
10/1/2021      335
10/12/2021     329
10/20/2021     291
10/5/2021      271
10/14/2021     220
10/9/2021        3
10/2/2021        1
10/23/2021       1
Name: Ship Date, dtype: int64

In [15]:
df_2021_10['Status'].value_counts()

In Transit           7415
Shipped              7167
Delivered             509
Carrier Exception     141
Delivery Attempt       26
Name: Status, dtype: int64

In [16]:
df_2021_10['City'].value_counts()

New York               292
Chicago                216
Austin                 133
Houston                123
Los Angeles            121
                      ...
WASHINGTON CROSSING      1
Kokhanok                 1
HARTVILLE                1
Gorman                   1
Kailua Kona              1
Name: City, Length: 4244, dtype: int64

In [17]:
df_2021_10['State'].value_counts()

CA    1475
NY    1448
TX    1087
FL    1085
PA     965
NJ     892
IL     672
MA     581
OH     527
VA     507
NC     451
CO     435
MI     417
GA     408
MD     400
WA     302
CT     291
AZ     266
TN     256
IN     233
MN     230
SC     226
MO     203
WI     188
OR     162
LA     138
KS     111
DC     101
HI     101
NV      95
NH      91
RI      88
NE      86
IA      84
ME      83
OK      74
ID      60
NM      57
AR      56
VT      48
DE      48
MT      48
WV      41
WY      31
ND      27
AK      23
SD      22
AL      20
KY      18
Name: State, dtype: int64

In [18]:
df_2021_10['Zip'].value_counts()

22180    30
60614    27
10019    24
43065    24
10011    23
         ..
48335     1
49323     1
49203     1
49087     1
98837     1
Name: Zip, Length: 6387, dtype: int64

In [19]:
df_2021_10['Shipping Service'].value_counts()

UPS    7388
FEH    6902
FXG     819
FEX      58
UP2      43
AZS      24
FXE      13
UP1       6
FXO       2
UP3       1
FXP       1
GSC       1
Name: Shipping Service, dtype: int64

In [20]:
df_2021_10['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

10/18/2021    5829
10/20/2021     807
10/27/2021     692
10/4/2021      530
10/3/2021      407
10/13/2021     404
10/26/2021     374
10/25/2021     368
10/22/2021     366
10/17/2021     365
10/5/2021      347
10/24/2021     327
10/7/2021      313
10/15/2021     301
10/10/2021     300
10/12/2021     291
10/28/2021     287
10/6/2021      283
10/16/2021     271
10/21/2021     262
10/1/2021      254
10/14/2021     240
10/19/2021     236
10/11/2021     231
10/8/2021      206
10/23/2021     190
10/9/2021      180
9/30/2021      147
10/2/2021      140
10/29/2021     121
9/27/2021       98
9/28/2021       17
9/15/2021       15
9/29/2021       15
9/25/2021       11
8/12/2021        7
9/26/2021        7
9/14/2021        5
9/16/2021        3
9/19/2021        2
9/10/2021        1
9/17/2021        1
9/24/2021        1
8/25/2021        1
9/18/2021        1
9/2/2021         1
8/24/2021        1
8/28/2021        1
8/30/2021        1
Name: Created Date, dtype: int64

In [21]:
df_2021_10['Weight'].value_counts()

7.00     5815
21.50    2680
39.00    1535
10.50    1462
20.20     773
41.00     604
14.00     523
6.50      402
9.90      249
20.00     189
27.00     151
39.50     118
18.50     116
3.35      113
29.00      79
30.00      61
24.00      52
33.00      51
35.00      42
26.00      42
32.00      41
44.00      25
4.00       20
38.00      17
30.50      14
36.00      13
6.20       12
13.50      12
17.00       7
17.20       7
20.50       6
46.00       5
27.50       4
77.00       3
24.50       3
19.00       2
15.00       2
37.00       2
45.00       1
3.00        1
75.00       1
33.50       1
47.00       1
23.00       1
Name: Weight, dtype: int64

In [22]:
df_2021_10['Item/Bottle Count'].value_counts()

2.0     5819
6.0     3423
12.0    2188
3.0     1499
4.0      750
1.0      568
7.0      314
8.0      224
5.0      124
9.0      107
10.0     104
13.0     103
11.0      27
15.0       4
14.0       3
18.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [23]:
#Change dtypes if necessary

In [24]:
#Remove "Status" column from df_2021_10.
df_2021_10 = df_2021_10.drop('Status', axis=1)
df_2021_10

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,10/1/2021,Far Hills,NJ,7931,FEH,9/30/2021,20.2,6.0
1,Ecom1,10/1/2021,Charlottesville,VA,22903,FEH,9/30/2021,24.0,7.0
2,Ecom1,10/1/2021,Norristown,PA,19403-1052,FEH,9/30/2021,39.0,12.0
3,Ecom1,10/1/2021,Philadelphia,PA,19136,FEH,9/30/2021,39.0,12.0
4,Ecom1,10/1/2021,Wynnewood,PA,19096,FEH,9/30/2021,39.0,12.0
...,...,...,...,...,...,...,...,...,...
716035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Drop the NaNs for df_2021_10.
df_2021_10 = df_2021_10.dropna()

## Confirm Changes

In [26]:
#See five random rows of data
df_2021_10.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
5787,Ecom3,10/21/2021,Mason,OH,45040,UPS,10/20/2021,21.5,6.0
4694,Ecom3,10/18/2021,Jersey City,NJ,7310,UPS,10/15/2021,21.5,6.0
10454,Ecom2,10/21/2021,West Boylston,MA,1583,UPS,10/18/2021,7.0,2.0
14912,Ecom1,10/29/2021,Westbury,NY,11590,FEH,10/28/2021,10.5,3.0
1078,Ecom3,10/5/2021,Altamonte Springs,FL,32714,UPS,10/5/2021,39.0,12.0

In [27]:
#Determine total rows for df_2021_10.
df_2021_10_rows = len(df_2021_10.axes[0])
df_2021_10_cols = len(df_2021_10.axes[1])
print("Number of Rows: ", df_2021_10_rows)
print("Number of Columns: ", df_2021_10_cols)

Number of Rows:  15258
Number of Columns:  9

## Export Cleaned df to .CSV

In [28]:
#Export df_2021_10 to .csv
df_2021_10.to_csv('../cleaned_months_2021/Clean_2021_10.csv')