## Import Dependencies, Read CSV and Create Dataframes.

In [2]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np
import matplotlib
matplotlib.__version__
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
load_states = "../state_covid_info/Complete_states.csv"
load_2021 = "../data_frame/Complete_annual_dataframes/Complete_2021.csv"

In [4]:
states_df = pd.read_csv(load_states)
states_df.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [7]:
#If I set the Index as "State" here, an extra column named "Unammed:0" populates. 
df_2021 = pd.read_csv(load_2021, index_col=[0])
df_2021.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [8]:
df_2021 = df_2021.set_index("State")
df_2021

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
State,,,,,,,,,
WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0
OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0
NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0
NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0
MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0
...,...,...,...,...,...,...,...,...,...
IL,242646,Ecom2,12/30/2021,Oakwood,61858,FEH,12/30/2021,7.0,2.0
IL,242647,Ecom2,12/30/2021,Wonder Lake,60097,FEH,12/30/2021,7.0,2.0
MA,242648,Ecom2,12/30/2021,Charlestown,2129,UPS,12/30/2021,7.0,2.0
DC,242649,Ecom2,12/30/2021,Washington,20002,FEH,12/30/2021,7.0,2.0
FL,242650,Ecom2,12/30/2021,Delray Beach,33446,FEH,12/30/2021,7.0,2.0

In [9]:
#Join states and 2021 df on "State"
states_2021 = df_2021.join(states_df.set_index ("State"), on = "State")
states_2021.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,blue

In [10]:
states_2021.count()

Order Number                     242651
Company Name                     242651
Ship Date                        242651
City                             242651
Zip                              242651
Shipping Service                 242651
Created Date                     242651
Weight                           242651
Item/Bottle Count                242651
Population                       240900
Lockdown Start                   240900
Initial Expected Lockdown End    240900
Phase 1 Re-Opening Start         240900
Political Alignment              240900
dtype: int64

In [12]:
states_2021.tail(10)

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
CO,242641,Ecom3,12/30/2021,Colorado Springs,80907,UPS,12/30/2021,21.50,6.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
NV,242642,Ecom3,12/30/2021,Las Vegas,89145,UPS,12/30/2021,3.35,1.0,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
CA,242643,Ecom3,12/30/2021,San Diego,92130,UPS,12/30/2021,7.00,2.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
AK,242644,Ecom3,12/30/2021,Anchorage,99503,UPS,12/30/2021,21.50,6.0,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
IL,242645,Ecom2,12/30/2021,Hillside,60162,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
IL,242646,Ecom2,12/30/2021,Oakwood,61858,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
IL,242647,Ecom2,12/30/2021,Wonder Lake,60097,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
MA,242648,Ecom2,12/30/2021,Charlestown,2129,UPS,12/30/2021,7.00,2.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,blue
DC,242649,Ecom2,12/30/2021,Washington,20002,FEH,12/30/2021,7.00,2.0,NaN,NaN,NaN,NaN,NaN
FL,242650,Ecom2,12/30/2021,Delray Beach,33446,FEH,12/30/2021,7.00,2.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [ ]:
# Calculate the total 2020 Item/Bottle Count.
total_count_2020 = states_2020["Item/Bottle Count"].sum()
total_count_2020

## Slice Each State Into its Own Dataframe and Calculate Total Item/Bottle Count 2019.

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
# Calculate the total Alabama Item/Bottle Count.
#Alabama["Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["AK"]
#Alaska = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alaska

In [ ]:
# Calculate the total Alaska Item/Bottle Count.
#Alaska["Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["AZ"]
#Arizona = states_2019.iloc[states_2019.index.isin(slice_list)]
#Arizona

In [ ]:
# Calculate the total Arizona Item/Bottle Count.
#Arizona["Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["AR"]
#Arkansas = states_2019.iloc[states_2019.index.isin(slice_list)]
#Arkansas

In [ ]:
# Calculate the total Arkansas Item/Bottle Count.
#Arkansas["Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["CA"]
#California = states_2019.iloc[states_2019.index.isin(slice_list)]
#California

In [ ]:
# Calculate the total California Item/Bottle Count.
#California["Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["CO"]
#Colorado = states_2019.iloc[states_2019.index.isin(slice_list)]
#Colorado

In [ ]:
# Calculate the total Alabama Item/Bottle Count.
#Colorado[]"Item/Bottle Count"].sum()

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [ ]:
#slice_list = ["AL"]
#Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

## Slice Each State Into its Own Dataframe and Calculate Total Item/Bottle Count 2020.

In [ ]:
slice_list = ["AL"]
Alabama = states_2020.iloc[states_2020.index.isin(slice_list)]
#Alabama

In [ ]:
# Calculate the total Alabama Item/Bottle Count.
Alabama["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["AK"]
Alaska = states_2020.iloc[states_2020.index.isin(slice_list)]
#Alaska

In [ ]:
# Calculate the total Alaska Item/Bottle Count.
Alaska["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["AZ"]
Arizona = states_2020.iloc[states_2020.index.isin(slice_list)]
#Arizona

In [ ]:
# Calculate the total Arizona Item/Bottle Count.
Arizona["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["AR"]
Arkansas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Arkansas

In [ ]:
# Calculate the total Arkansas Item/Bottle Count.
Arkansas["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["CA"]
California = states_2020.iloc[states_2020.index.isin(slice_list)]
#California

In [ ]:
# Calculate the total California Item/Bottle Count.
California["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["CO"]
Colorado = states_2020.iloc[states_2020.index.isin(slice_list)]
#Colorado

In [ ]:
# Calculate the total Alaska Item/Bottle Count.
Colorado["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["CT"]
Connecticut = states_2020.iloc[states_2020.index.isin(slice_list)]
#Connecticut

In [ ]:
# Calculate the total Connecticut Item/Bottle Count.
Connecticut["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["DE"]
Delaware = states_2020.iloc[states_2020.index.isin(slice_list)]
#Delaware

In [ ]:
# Calculate the total Delaware Item/Bottle Count.
Delaware["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["FL"]
Florida = states_2020.iloc[states_2020.index.isin(slice_list)]
#Florida

In [ ]:
# Calculate the total Florida Item/Bottle Count.
Florida["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["GA"]
Georgia = states_2020.iloc[states_2020.index.isin(slice_list)]
#Georgia

In [ ]:
# Calculate the total Georgia Item/Bottle Count.
Georgia["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["HI"]
Hawaii = states_2020.iloc[states_2020.index.isin(slice_list)]
#Hawaii

In [ ]:
# Calculate the total Hawaii Item/Bottle Count.
Hawaii["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["ID"]
Idaho = states_2020.iloc[states_2020.index.isin(slice_list)]
#Idaho

In [ ]:
# Calculate the total Idaho Item/Bottle Count.
Idaho["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["IL"]
Illinois = states_2020.iloc[states_2020.index.isin(slice_list)]
#Illinois

In [ ]:
# Calculate the total Illinois Item/Bottle Count.
Illinois["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["IN"]
Indiana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Indiana

In [ ]:
# Calculate the total Indiana Item/Bottle Count.
Indiana["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["IA"]
Iowa = states_2020.iloc[states_2020.index.isin(slice_list)]
#Iowa

In [ ]:
# Calculate the total Iowa Item/Bottle Count.
Iowa["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["KS"]
Kansas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Kansas

In [ ]:
# Calculate the total Kansas Item/Bottle Count.
Kansas["Item/Bottle Count"].sum()

In [ ]:
#Effective March 12, 2021, brand registration is not required for DTC products.  DTC shipping previously prohibited. 
slice_list = ["KY"]
Kentucky = states_2020.iloc[states_2020.index.isin(slice_list)]
#Kentucky

In [ ]:
# Calculate the total Kentucky Item/Bottle Count.
Kentucky["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["LA"]
Louisiana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Louisiana

In [ ]:
# Calculate the total Louisiana Item/Bottle Count.
Louisiana["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["ME"]
Maine = states_2020.iloc[states_2020.index.isin(slice_list)]
#Maine

In [ ]:
# Calculate the total Maine Item/Bottle Count.
Maine["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MD"]
Maryland = states_2020.iloc[states_2020.index.isin(slice_list)]
#Maryland

In [ ]:
# Calculate the total Maryland Item/Bottle Count.
Maryland["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MA"]
Massachusetts = states_2020.iloc[states_2020.index.isin(slice_list)]
#Massachusetts

In [ ]:
# Calculate the total Massachusetts Item/Bottle Count.
Massachusetts["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MI"]
Michigan = states_2020.iloc[states_2020.index.isin(slice_list)]
#Michigan

In [ ]:
# Calculate the total Michigan Item/Bottle Count.
Michigan["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MN"]
Minnesota = states_2020.iloc[states_2020.index.isin(slice_list)]
#Minnesota

In [ ]:
# Calculate the total Minnesota Item/Bottle Count.
Minnesota["Item/Bottle Count"].sum()

In [ ]:
#DTC shipping prohibited in Mississippi. This order was sent to Philedelphia, MS (A real place!) and likely
#bypassed the checks/balances that are in place to adhere to shipping laws. 
slice_list = ["MS"]
Mississippi = states_2020.iloc[states_2020.index.isin(slice_list)]
#Mississippi

In [ ]:
# Calculate the total Mississippi Item/Bottle Count.
Mississippi["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MO"]
Missouri = states_2020.iloc[states_2020.index.isin(slice_list)]
#Missouri

In [ ]:
# Calculate the total Missouri Item/Bottle Count.
Missouri["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["MT"]
Montana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Montana

In [ ]:
# Calculate the total Montana Item/Bottle Count.
Montana["Item/Bottle Count"].sum()

In [ ]:
#No shipping law information- No orders for Nebraska
slice_list = ["NE"]
Nebraska = states_2020.iloc[states_2020.index.isin(slice_list)]
#Nebraska

In [ ]:
# Calculate the total Nebraska Item/Bottle Count.
Nebraska["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NV"]
Nevada = states_2020.iloc[states_2020.index.isin(slice_list)]
#Nevada

In [ ]:
# Calculate the total Nevada Item/Bottle Count.
Nevada["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NH"]
New_Hampshire = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Hampshire

In [ ]:
# Calculate the total New_Hampshire Item/Bottle Count.
New_Hampshire["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NJ"]
New_Jersey = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Jersey

In [ ]:
# Calculate the total New Jersey Item/Bottle Count.
New_Jersey["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NM"]
New_Mexico = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Mexico

In [ ]:
# Calculate the total New Mexico Item/Bottle Count.
New_Mexico["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NY"]
New_York = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_York

In [ ]:
# Calculate the total New York Item/Bottle Count.
New_York["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["NC"]
North_Carolina = states_2020.iloc[states_2020.index.isin(slice_list)]
#North_Carolina

In [ ]:
# Calculate the total North Carolina Item/Bottle Count.
North_Carolina["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["ND"]
North_Dakota = states_2020.iloc[states_2020.index.isin(slice_list)]
#North_Dakota

In [ ]:
# Calculate the total North Dakota Item/Bottle Count.
North_Dakota["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["OH"]
Ohio = states_2020.iloc[states_2020.index.isin(slice_list)]
#Ohio

In [ ]:
# Calculate the total Ohio Item/Bottle Count.
Ohio["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["OK"]
Oklahoma = states_2020.iloc[states_2020.index.isin(slice_list)]
#Oklahoma

In [ ]:
# Calculate the total Oklahoma Item/Bottle Count.
Oklahoma["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["OR"]
Oregon = states_2020.iloc[states_2020.index.isin(slice_list)]
#Oregon

In [ ]:
# Calculate the total Oregon Item/Bottle Count.
Oregon["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["PA"]
Pennsylvania = states_2020.iloc[states_2020.index.isin(slice_list)]
#Pennsylvania

In [ ]:
# Calculate the total Pennsylvania Item/Bottle Count.
Pennsylvania["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["RI"]
Rhode_Island = states_2020.iloc[states_2020.index.isin(slice_list)]
#Rhode_Island

In [ ]:
# Calculate the total Rhode Island Item/Bottle Count.
Rhode_Island["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["SC"]
South_Carolina = states_2020.iloc[states_2020.index.isin(slice_list)]
#South_Carolina

In [ ]:
# Calculate the total Oregon Item/Bottle Count.
South_Carolina["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["SD"]
South_Dakota = states_2020.iloc[states_2020.index.isin(slice_list)]
#South_Dakota

In [ ]:
# Calculate the total South_Dakota Item/Bottle Count.
South_Dakota["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["TN"]
Tennessee = states_2020.iloc[states_2020.index.isin(slice_list)]
#Tennessee

In [ ]:
# Calculate the total Tennessee Item/Bottle Count.
Tennessee["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["TX"]
Texas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Texas

In [ ]:
# Calculate the total Texas Item/Bottle Count.
Texas["Item/Bottle Count"].sum()

In [ ]:
#No orders from Utah. DTC shipping prohibited.
slice_list = ["UT"]
Utah = states_2020.iloc[states_2020.index.isin(slice_list)]
#Utah

In [ ]:
# Calculate the total Utah Item/Bottle Count.
Utah["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["VT"]
Vermont = states_2020.iloc[states_2020.index.isin(slice_list)]
#Vermont

In [ ]:
# Calculate the total Vermont Item/Bottle Count.
Vermont["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["VA"]
Virginia = states_2020.iloc[states_2020.index.isin(slice_list)]
#Virginia

In [ ]:
# Calculate the total Virginia Item/Bottle Count.
Virginia["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["WA"]
Washington = states_2020.iloc[states_2020.index.isin(slice_list)]
#Washington

In [ ]:
# Calculate the total Washington Item/Bottle Count.
Washington["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["WV"]
West_Virginia = states_2020.iloc[states_2020.index.isin(slice_list)]
#West_Virginia

In [ ]:
# Calculate the total West Virginia Item/Bottle Count.
West_Virginia["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["WI"]
Wisconsin = states_2020.iloc[states_2020.index.isin(slice_list)]
#Wisconsin

In [ ]:
# Calculate the total Wisconsin Item/Bottle Count.
Wisconsin["Item/Bottle Count"].sum()

In [ ]:
slice_list = ["WY"]
Wyoming = states_2020.iloc[states_2020.index.isin(slice_list)]
#Wyoming

In [ ]:
# Calculate the total Wyoming Item/Bottle Count.
Wyoming["Item/Bottle Count"].sum()

In [ ]:
#Trying to figure out how to get each state df to show total item/bottle count by month. .groupby?
Wyoming["Created Date"].unique()

## Working syntax

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = Wyoming["Created Date"]

# Set the y-axis to a list of floats as the Item/Bottle Count for each month.
y_axis = Wyoming["Item/Bottle Count"]

In [ ]:
#This chart is ugly. Need to group the created dates by month and I think that will help it be more visually appealing.
# Create the plot.
plt.plot(x_axis, y_axis, marker="*", color="blue", linewidth=2, label='Wyoming')
# Create labels for the x and y axes.
plt.xlabel("Created Date")
plt.ylabel("Item/Bottle Count")
# Set the y limit between 0 and 5000.
plt.ylim(0, 20)
# Create a title.
plt.title("Wyoming Bottle Count by Created Date")
# Add a grid.
plt.grid()
# Add the legend.
plt.legend()

In [ ]:
#test2 = states_2020.sort_values("State")
#test2 = states_2020.sort_values(['State'],ascending=True).groupby('').head()

for i in range(len(states_2020)) :
    #test2=states_2020['State'].groupby,
    print(states_2020['State'].groupby(states_2020.loc[i, "State"], states_2020.loc[i, "Item/Bottle Count"]))
#test2
#This isn't working.

In [ ]:
test=states_2020.sort_values("State")
test.head()

In [ ]:
#Loop through states_2020 to gather the Item/Bottle Count for all 50 states.
for i in range(len(states_2020)) :
  print(states_2020.loc[i, "State"], states_2020.loc[i, "Item/Bottle Count"])

In [ ]:
# How many items/bottles per month have been purchased in each state from January 2020 to December 2021?
# How many items/bottls per month 01/2020 - 12/2021
# How many items/bottles per state then per month

In [ ]:
# Is there a time of year where wine shipments increased? For example, during the holidays or during COVID stay-at-home orders?

In [ ]:
# How do wine shipments compare between states that had stay at home orders issued vs states that did not?
    #Create a dataframe with data from states that issued stay at home orders
    #Create a dataframe with data from states that did not issue stay at home orders
    #Generate summary statistics for each data frame 
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

In [ ]:
#How do wine shipments compare between red states and blue states?
    #Create a dataframe with data from "Red" states
    #Create a dataframe with data from "Blue" states 
    #Generate summary statistics for each data frame 
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

In [ ]:
# Which state consumed the most wine?

In [ ]:
# Which state saw the most significant change in wine consumption?