## Import Dependencies, Read CSV and Create Dataframes.

In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np
import matplotlib
matplotlib.__version__
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
load_states = "../state_covid_info/Complete_states.csv"
load_2021 = "../data_frame/Complete_annual_dataframes/Complete_2021.csv"

In [3]:
states_df = pd.read_csv(load_states)
states_df.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [4]:
#If I set the Index as "State" here, an extra column named "Unammed:0" populates. 
df_2021 = pd.read_csv(load_2021, index_col=[0])
df_2021.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [5]:
df_2021.State.unique()

array(['WI', 'OR', 'NJ', 'MA', 'CT', 'MD', 'NC', 'NH', 'PA', 'WA', 'GA',
       'TX', 'IL', 'CA', 'FL', 'NM', 'NY', 'RI', 'MN', 'WY', 'DC', 'OH',
       'MO', 'SC', 'IA', 'CO', 'WV', 'VA', 'AZ', 'IN', 'TN', 'KS', 'AL',
       'MI', 'NE', 'NV', 'OK', 'DE', 'MT', 'ID', 'LA', 'ND', 'ME', 'VT',
       'AK', 'HI', 'SD', 'AR', 'KY'], dtype=object)

In [6]:
df_2021 = df_2021.set_index("State")
df_2021

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
State,,,,,,,,,
WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0
OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0
NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0
NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0
MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0
...,...,...,...,...,...,...,...,...,...
IL,242646,Ecom2,12/30/2021,Oakwood,61858,FEH,12/30/2021,7.0,2.0
IL,242647,Ecom2,12/30/2021,Wonder Lake,60097,FEH,12/30/2021,7.0,2.0
MA,242648,Ecom2,12/30/2021,Charlestown,2129,UPS,12/30/2021,7.0,2.0
DC,242649,Ecom2,12/30/2021,Washington,20002,FEH,12/30/2021,7.0,2.0
FL,242650,Ecom2,12/30/2021,Delray Beach,33446,FEH,12/30/2021,7.0,2.0

In [7]:
#Join states and 2021 df on "State"
states_2021 = df_2021.join(states_df.set_index ("State"), on = "State")
states_2021.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue

In [8]:
#242,651 orders placed in 2021.
states_2021.count()

Order Number                     242651
Company Name                     242651
Ship Date                        242651
City                             242651
Zip                              242651
Shipping Service                 242651
Created Date                     242651
Weight                           242651
Item/Bottle Count                242651
Population                       242651
Lockdown Start                   242651
Initial Expected Lockdown End    242651
Phase 1 Re-Opening Start         242651
Political Alignment              242651
dtype: int64

In [9]:
states_2021.tail(10)

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
CO,242641,Ecom3,12/30/2021,Colorado Springs,80907,UPS,12/30/2021,21.50,6.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
NV,242642,Ecom3,12/30/2021,Las Vegas,89145,UPS,12/30/2021,3.35,1.0,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
CA,242643,Ecom3,12/30/2021,San Diego,92130,UPS,12/30/2021,7.00,2.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
AK,242644,Ecom3,12/30/2021,Anchorage,99503,UPS,12/30/2021,21.50,6.0,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
IL,242645,Ecom2,12/30/2021,Hillside,60162,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
IL,242646,Ecom2,12/30/2021,Oakwood,61858,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
IL,242647,Ecom2,12/30/2021,Wonder Lake,60097,FEH,12/30/2021,7.00,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
MA,242648,Ecom2,12/30/2021,Charlestown,2129,UPS,12/30/2021,7.00,2.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
DC,242649,Ecom2,12/30/2021,Washington,20002,FEH,12/30/2021,7.00,2.0,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue
FL,242650,Ecom2,12/30/2021,Delray Beach,33446,FEH,12/30/2021,7.00,2.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [10]:
# Calculate the total 2020 Item/Bottle Count.
total_count_2021 = states_2021["Item/Bottle Count"].sum()
total_count_2021

1065457.0

## Slice Each State Into its Own Dataframe and Calculate Total Item/Bottle Count 2021.

In [11]:
#['WI', 'OR', 'NJ', 'MA', 'CT', 'MD', 'NC', 'NH', 'PA', 'WA', 'GA',
#       'TX', 'IL', 'CA', 'FL', 'NM', 'NY', 'RI', 'MN', 'WY', 'DC', 'OH',
#       'MO', 'SC', 'IA', 'CO', 'WV', 'VA', 'AZ', 'IN', 'TN', 'KS', 'AL',
#       'MI', 'NE', 'NV', 'OK', 'DE', 'MT', 'ID', 'LA', 'ND', 'ME', 'VT',
#       'AK', 'HI', 'SD', 'AR', 'KY']

In [12]:
slice_list = ["AL"]
Alabama = states_2021.iloc[states_2021.index.isin(slice_list)]
#Alabama

In [13]:
# Calculate the total Alabama Item/Bottle Count.
Alabama["Item/Bottle Count"].sum()

1229.0

In [14]:
slice_list = ["AK"]
Alaska = states_2021.iloc[states_2021.index.isin(slice_list)]
#Alaska

In [15]:
# Calculate the total Alaska Item/Bottle Count.
Alaska["Item/Bottle Count"].sum()

2076.0

In [16]:
slice_list = ["AZ"]
Arizona = states_2021.iloc[states_2021.index.isin(slice_list)]
#Arizona

In [17]:
# Calculate the total Arizona Item/Bottle Count.
Arizona["Item/Bottle Count"].sum()

16882.0

In [18]:
slice_list = ["AR"]
Arkansas = states_2021.iloc[states_2021.index.isin(slice_list)]
#Arkansas

In [19]:
# Calculate the total Arkansas Item/Bottle Count.
Arkansas["Item/Bottle Count"].sum()

5121.0

In [20]:
slice_list = ["CA"]
California = states_2021.iloc[states_2021.index.isin(slice_list)]
#California

In [21]:
# Calculate the total California Item/Bottle Count.
California["Item/Bottle Count"].sum()

109697.0

In [22]:
slice_list = ["CO"]
Colorado = states_2021.iloc[states_2021.index.isin(slice_list)]
#Colorado

In [23]:
# Calculate the total Alaska Item/Bottle Count.
Colorado["Item/Bottle Count"].sum()

27844.0

In [24]:
slice_list = ["CT"]
Connecticut = states_2021.iloc[states_2021.index.isin(slice_list)]
#Connecticut

In [25]:
# Calculate the total Connecticut Item/Bottle Count.
Connecticut["Item/Bottle Count"].sum()

21934.0

In [26]:
slice_list = ["DC"]
DC = states_2021.iloc[states_2021.index.isin(slice_list)]
#DC

In [27]:
#Calculate the total Delaware Item/Bottle Count.
DC["Item/Bottle Count"].sum()

8089.0

In [28]:
slice_list = ["DE"]
Delaware = states_2021.iloc[states_2021.index.isin(slice_list)]
#Delaware

In [29]:
# Calculate the total Delaware Item/Bottle Count.
Delaware["Item/Bottle Count"].sum()

2053.0

In [30]:
slice_list = ["FL"]
Florida = states_2021.iloc[states_2021.index.isin(slice_list)]
#Florida

In [31]:
# Calculate the total Florida Item/Bottle Count.
Florida["Item/Bottle Count"].sum()

79220.0

In [32]:
slice_list = ["GA"]
Georgia = states_2021.iloc[states_2021.index.isin(slice_list)]
#Georgia

In [33]:
# Calculate the total Georgia Item/Bottle Count.
Georgia["Item/Bottle Count"].sum()

31870.0

In [34]:
slice_list = ["HI"]
Hawaii = states_2021.iloc[states_2021.index.isin(slice_list)]
#Hawaii

In [35]:
# Calculate the total Hawaii Item/Bottle Count.
Hawaii["Item/Bottle Count"].sum()

11142.0

In [36]:
slice_list = ["ID"]
Idaho = states_2021.iloc[states_2021.index.isin(slice_list)]
#Idaho

In [37]:
# Calculate the total Idaho Item/Bottle Count.
Idaho["Item/Bottle Count"].sum()

3517.0

In [38]:
slice_list = ["IL"]
Illinois = states_2021.iloc[states_2021.index.isin(slice_list)]
#Illinois

In [39]:
# Calculate the total Illinois Item/Bottle Count.
Illinois["Item/Bottle Count"].sum()

42583.0

In [40]:
slice_list = ["IN"]
Indiana = states_2021.iloc[states_2021.index.isin(slice_list)]
#Indiana

In [41]:
# Calculate the total Indiana Item/Bottle Count.
Indiana["Item/Bottle Count"].sum()

15893.0

In [42]:
slice_list = ["IA"]
Iowa = states_2021.iloc[states_2021.index.isin(slice_list)]
#Iowa

In [43]:
# Calculate the total Iowa Item/Bottle Count.
Iowa["Item/Bottle Count"].sum()

5918.0

In [44]:
slice_list = ["KS"]
Kansas = states_2021.iloc[states_2021.index.isin(slice_list)]
#Kansas

In [45]:
# Calculate the total Kansas Item/Bottle Count.
Kansas["Item/Bottle Count"].sum()

7216.0

In [46]:
#Effective March 12, 2021, brand registration is not required for DTC products.  DTC shipping previously prohibited. 
slice_list = ["KY"]
Kentucky = states_2021.iloc[states_2021.index.isin(slice_list)]
#Kentucky

In [47]:
# Calculate the total Kentucky Item/Bottle Count.
Kentucky["Item/Bottle Count"].sum()

853.0

In [48]:
slice_list = ["LA"]
Louisiana = states_2021.iloc[states_2021.index.isin(slice_list)]
#Louisiana

In [49]:
# Calculate the total Louisiana Item/Bottle Count.
Louisiana["Item/Bottle Count"].sum()

8914.0

In [50]:
slice_list = ["ME"]
Maine = states_2021.iloc[states_2021.index.isin(slice_list)]
#Maine

In [51]:
# Calculate the total Maine Item/Bottle Count.
Maine["Item/Bottle Count"].sum()

5630.0

In [52]:
slice_list = ["MD"]
Maryland = states_2021.iloc[states_2021.index.isin(slice_list)]
#Maryland

In [53]:
# Calculate the total Maryland Item/Bottle Count.
Maryland["Item/Bottle Count"].sum()

28296.0

In [54]:
slice_list = ["MA"]
Massachusetts = states_2021.iloc[states_2021.index.isin(slice_list)]
#Massachusetts

In [55]:
# Calculate the total Massachusetts Item/Bottle Count.
Massachusetts["Item/Bottle Count"].sum()

43842.0

In [56]:
slice_list = ["MI"]
Michigan = states_2021.iloc[states_2021.index.isin(slice_list)]
#Michigan

In [57]:
# Calculate the total Michigan Item/Bottle Count.
Michigan["Item/Bottle Count"].sum()

32801.0

In [58]:
slice_list = ["MN"]
Minnesota = states_2021.iloc[states_2021.index.isin(slice_list)]
#Minnesota

In [59]:
# Calculate the total Minnesota Item/Bottle Count.
Minnesota["Item/Bottle Count"].sum()

14836.0

In [60]:
#DTC shipping prohibited in Mississippi.  
slice_list = ["MS"]
Mississippi = states_2021.iloc[states_2021.index.isin(slice_list)]
#Mississippi

In [61]:
# Calculate the total Mississippi Item/Bottle Count.
Mississippi["Item/Bottle Count"].sum()

0.0

In [62]:
slice_list = ["MO"]
Missouri = states_2021.iloc[states_2021.index.isin(slice_list)]
#Missouri

In [63]:
# Calculate the total Missouri Item/Bottle Count.
Missouri["Item/Bottle Count"].sum()

12324.0

In [64]:
slice_list = ["MT"]
Montana = states_2021.iloc[states_2021.index.isin(slice_list)]
#Montana

In [65]:
# Calculate the total Montana Item/Bottle Count.
Montana["Item/Bottle Count"].sum()

3063.0

In [66]:
slice_list = ["NE"]
Nebraska = states_2021.iloc[states_2021.index.isin(slice_list)]
#Nebraska

In [67]:
# Calculate the total Nebraska Item/Bottle Count.
Nebraska["Item/Bottle Count"].sum()

4781.0

In [68]:
slice_list = ["NV"]
Nevada = states_2021.iloc[states_2021.index.isin(slice_list)]
#Nevada

In [69]:
# Calculate the total Nevada Item/Bottle Count.
Nevada["Item/Bottle Count"].sum()

6966.0

In [70]:
slice_list = ["NH"]
New_Hampshire = states_2021.iloc[states_2021.index.isin(slice_list)]
#New_Hampshire

In [71]:
# Calculate the total New_Hampshire Item/Bottle Count.
New_Hampshire["Item/Bottle Count"].sum()

6149.0

In [72]:
slice_list = ["NJ"]
New_Jersey = states_2021.iloc[states_2021.index.isin(slice_list)]
#New_Jersey

In [73]:
# Calculate the total New Jersey Item/Bottle Count.
New_Jersey["Item/Bottle Count"].sum()

58695.0

In [74]:
slice_list = ["NM"]
New_Mexico = states_2021.iloc[states_2021.index.isin(slice_list)]
#New_Mexico

In [75]:
# Calculate the total New Mexico Item/Bottle Count.
New_Mexico["Item/Bottle Count"].sum()

4065.0

In [76]:
slice_list = ["NY"]
New_York = states_2021.iloc[states_2021.index.isin(slice_list)]
#New_York

In [77]:
# Calculate the total New York Item/Bottle Count.
New_York["Item/Bottle Count"].sum()

108154.0

In [78]:
slice_list = ["NC"]
North_Carolina = states_2021.iloc[states_2021.index.isin(slice_list)]
#North_Carolina

In [79]:
# Calculate the total North Carolina Item/Bottle Count.
North_Carolina["Item/Bottle Count"].sum()

29491.0

In [80]:
slice_list = ["ND"]
North_Dakota = states_2021.iloc[states_2021.index.isin(slice_list)]
#North_Dakota

In [81]:
# Calculate the total North Dakota Item/Bottle Count.
North_Dakota["Item/Bottle Count"].sum()

1793.0

In [82]:
slice_list = ["OH"]
Ohio = states_2021.iloc[states_2021.index.isin(slice_list)]
#Ohio

In [83]:
# Calculate the total Ohio Item/Bottle Count.
Ohio["Item/Bottle Count"].sum()

33250.0

In [84]:
slice_list = ["OK"]
Oklahoma = states_2021.iloc[states_2021.index.isin(slice_list)]
#Oklahoma

In [85]:
# Calculate the total Oklahoma Item/Bottle Count.
Oklahoma["Item/Bottle Count"].sum()

4705.0

In [86]:
slice_list = ["OR"]
Oregon = states_2021.iloc[states_2021.index.isin(slice_list)]
#Oregon

In [87]:
# Calculate the total Oregon Item/Bottle Count.
Oregon["Item/Bottle Count"].sum()

12011.0

In [88]:
slice_list = ["PA"]
Pennsylvania = states_2021.iloc[states_2021.index.isin(slice_list)]
#Pennsylvania

In [89]:
# Calculate the total Pennsylvania Item/Bottle Count.
Pennsylvania["Item/Bottle Count"].sum()

69833.0

In [90]:
slice_list = ["RI"]
Rhode_Island = states_2021.iloc[states_2021.index.isin(slice_list)]
#Rhode_Island

In [91]:
# Calculate the total Rhode Island Item/Bottle Count.
Rhode_Island["Item/Bottle Count"].sum()

7125.0

In [92]:
slice_list = ["SC"]
South_Carolina = states_2021.iloc[states_2021.index.isin(slice_list)]
#South_Carolina

In [93]:
# Calculate the total Oregon Item/Bottle Count.
South_Carolina["Item/Bottle Count"].sum()

15546.0

In [94]:
slice_list = ["SD"]
South_Dakota = states_2021.iloc[states_2021.index.isin(slice_list)]
#South_Dakota

In [95]:
# Calculate the total South_Dakota Item/Bottle Count.
South_Dakota["Item/Bottle Count"].sum()

1899.0

In [96]:
slice_list = ["TN"]
Tennessee = states_2021.iloc[states_2021.index.isin(slice_list)]
#Tennessee

In [97]:
# Calculate the total Tennessee Item/Bottle Count.
Tennessee["Item/Bottle Count"].sum()

19222.0

In [98]:
slice_list = ["TX"]
Texas = states_2021.iloc[states_2021.index.isin(slice_list)]
#Texas

In [99]:
# Calculate the total Texas Item/Bottle Count.
Texas["Item/Bottle Count"].sum()

61779.0

In [100]:
#No orders from Utah. DTC shipping prohibited.
slice_list = ["UT"]
Utah = states_2021.iloc[states_2021.index.isin(slice_list)]
#Utah

In [101]:
# Calculate the total Utah Item/Bottle Count.
Utah["Item/Bottle Count"].sum()

0.0

In [102]:
slice_list = ["VT"]
Vermont = states_2021.iloc[states_2021.index.isin(slice_list)]
#Vermont

In [103]:
# Calculate the total Vermont Item/Bottle Count.
Vermont["Item/Bottle Count"].sum()

3339.0

In [104]:
slice_list = ["VA"]
Virginia = states_2021.iloc[states_2021.index.isin(slice_list)]
#Virginia

In [105]:
# Calculate the total Virginia Item/Bottle Count.
Virginia["Item/Bottle Count"].sum()

36481.0

In [106]:
slice_list = ["WA"]
Washington = states_2021.iloc[states_2021.index.isin(slice_list)]
#Washington

In [107]:
# Calculate the total Washington Item/Bottle Count.
Washington["Item/Bottle Count"].sum()

19606.0

In [108]:
slice_list = ["WV"]
West_Virginia = states_2021.iloc[states_2021.index.isin(slice_list)]
#West_Virginia

In [109]:
# Calculate the total West Virginia Item/Bottle Count.
West_Virginia["Item/Bottle Count"].sum()

2965.0

In [110]:
slice_list = ["WI"]
Wisconsin = states_2021.iloc[states_2021.index.isin(slice_list)]
#Wisconsin

In [111]:
# Calculate the total Wisconsin Item/Bottle Count.
Wisconsin["Item/Bottle Count"].sum()

12753.0

In [112]:
slice_list = ["WY"]
Wyoming = states_2021.iloc[states_2021.index.isin(slice_list)]
#Wyoming

In [113]:
# Calculate the total Wyoming Item/Bottle Count.
Wyoming["Item/Bottle Count"].sum()

2006.0

## Red vs Blue

In [115]:
#How do wine shipments compare between red states and blue states?
    #Create a dataframe with data from "Red" states
    #Create a dataframe with data from "Blue" states 
    #Generate summary statistics for each data frame
    #Clean summary statistics- format numbers, drop count row
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

In [116]:
#Create a df with only orders created in red states.
red_states_2021= states_2021[states_2021['Political Alignment'] == 'Red']
red_states_2021.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
NC,8,Ecom1,1/5/2021,Winston-Salem,27104,FEH,12/28/2020,6.5,1.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
TX,29,Ecom1,1/4/2021,Cypress,77433,FEH,12/30/2020,20.2,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
TX,30,Ecom1,1/4/2021,GRANITE SHOALS,78654,FEH,12/30/2020,39.0,12.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
FL,33,Ecom1,1/4/2021,Kissimmee,34746,FEH,12/30/2020,39.0,12.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
TX,34,Ecom1,1/4/2021,Austin,78758,FEH,12/30/2020,10.5,3.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red

In [117]:
#Check that red_states_2021 is all "Red"
red_states_2021["Political Alignment"].unique()

array(['Red'], dtype=object)

In [118]:
#Rest index to figure out which states are red with unique() below.
new_red_states_2021 = red_states_2021.reset_index()
new_red_states_2021

,State,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,NC,8,Ecom1,1/5/2021,Winston-Salem,27104,FEH,12/28/2020,6.5,1.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
1,TX,29,Ecom1,1/4/2021,Cypress,77433,FEH,12/30/2020,20.2,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
2,TX,30,Ecom1,1/4/2021,GRANITE SHOALS,78654,FEH,12/30/2020,39.0,12.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
3,FL,33,Ecom1,1/4/2021,Kissimmee,34746,FEH,12/30/2020,39.0,12.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
4,TX,34,Ecom1,1/4/2021,Austin,78758,FEH,12/30/2020,10.5,3.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73472,TX,242625,Ecom3,12/30/2021,Houston,77080,UPS,12/30/2021,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
73473,TX,242629,Ecom3,12/30/2021,Waco,76705,UPS,12/30/2021,29.0,8.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
73474,TX,242637,Ecom3,12/30/2021,Dallas,75208,UPS,12/30/2021,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
73475,AK,242644,Ecom3,12/30/2021,Anchorage,99503,UPS,12/30/2021,21.5,6.0,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
73476,FL,242650,Ecom2,12/30/2021,Delray Beach,33446,FEH,12/30/2021,7.0,2.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [119]:
#Generate summary statistics for red_states_2021
red_summary_statistics_2021 = red_states_2021.describe()
red_summary_statistics_2021

        Order Number        Weight  Item/Bottle Count
count   73477.000000  73477.000000       73477.000000
mean   122754.250514     15.231928           4.392953
std     70853.213814     10.915854           3.296987
min         8.000000      1.000000           1.000000
25%     60992.000000      7.000000           2.000000
50%    122431.000000      9.900000           3.000000
75%    185383.000000     21.500000           6.000000
max    242650.000000     75.000000          24.000000

In [120]:
# Calculate the total 2021 Item/Bottle Count for Red States.
total_red_count_2021 = red_states_2021["Item/Bottle Count"].sum()
total_red_count_2021

322781.0

In [121]:
new_red_states_2021.State.unique()

array(['NC', 'TX', 'FL', 'WY', 'OH', 'MO', 'SC', 'IA', 'WV', 'IN', 'TN',
       'KS', 'AL', 'NE', 'OK', 'MT', 'ID', 'LA', 'ND', 'AK', 'SD', 'AR',
       'KY'], dtype=object)

In [147]:
# Adding a list of values with keys to create a new DataFrame for Red states only.
#No Mississippi listed because shipping is prohibited. 
R = {'Red State': ['Alabama', 'Alaska', 'Arkansas', 'Florida', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
               'Louisiana', 'Missouri', 'Montana', 'Nebraska', 'North Carolina', 'North Dakota',
               'Ohio', 'Oklahoma', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'West Virginia', 'Wyoming',  
                ],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(),  
            Arkansas["Item/Bottle Count"].sum(), 
            Florida["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [148]:
total_bottle_count_by_red_state = pd.DataFrame.from_dict(data=R)
total_bottle_count_by_red_state

         Red State  Total Item/Bottle Count
0          Alabama                   1229.0
1           Alaska                   2076.0
2         Arkansas                   5121.0
3          Florida                  79220.0
4            Idaho                   3517.0
5          Indiana                  15893.0
6             Iowa                   5918.0
7           Kansas                   7216.0
8         Kentucky                    853.0
9        Louisiana                   8914.0
10        Missouri                  12324.0
11         Montana                   3063.0
12        Nebraska                   4781.0
13  North Carolina                  29491.0
14    North Dakota                   1793.0
15            Ohio                  33250.0
16        Oklahoma                   4705.0
17  South Carolina                  15546.0
18    South Dakota                   1899.0
19       Tennessee                  19222.0
20           Texas                  61779.0
21   West Virginia                   2965.0
22         Wyoming                   2006.0

In [149]:
#Print the highest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].max()])

  Red State  Total Item/Bottle Count
3   Florida                  79220.0

In [150]:
#Print the lowest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].min()])

  Red State  Total Item/Bottle Count
8  Kentucky                    853.0

In [151]:
#Export total_bottle_count_by_red_state to .csv
total_bottle_count_by_red_state.to_csv('Resources/2021_total_bottle_count_by_red_state.csv')

In [129]:
#Create a df with only orders created in blue states.
blue_states_2021= states_2021[states_2021['Political Alignment'] == 'Blue']
blue_states_2021.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue

In [130]:
#Check that blue_states_2021 is all "Blue"
blue_states_2021["Political Alignment"].unique()

array(['Blue'], dtype=object)

In [131]:
#Rest index to figure out which states are red with unique() below.
new_blue_states_2021 = blue_states_2021.reset_index()
new_blue_states_2021

,State,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,WI,0,Ecom1,1/4/2021,Pleasant Prairie,53158,FEH,12/7/2020,10.5,3.0,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
1,OR,1,Ecom1,1/5/2021,Beaverton,97005,FEH,12/23/2020,10.5,3.0,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
2,NJ,2,Ecom1,1/5/2021,Edison,8820,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
3,NJ,3,Ecom1,1/5/2021,Jersey city,7302,FEH,12/24/2020,6.5,1.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,MA,4,Ecom1,1/5/2021,Stoughton,2072,FEH,12/24/2020,6.5,1.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169169,IL,242645,Ecom2,12/30/2021,Hillside,60162,FEH,12/30/2021,7.0,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
169170,IL,242646,Ecom2,12/30/2021,Oakwood,61858,FEH,12/30/2021,7.0,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
169171,IL,242647,Ecom2,12/30/2021,Wonder Lake,60097,FEH,12/30/2021,7.0,2.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
169172,MA,242648,Ecom2,12/30/2021,Charlestown,2129,UPS,12/30/2021,7.0,2.0,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
169173,DC,242649,Ecom2,12/30/2021,Washington,20002,FEH,12/30/2021,7.0,2.0,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue

In [132]:
new_blue_states_2021.State.unique()

array(['WI', 'OR', 'NJ', 'MA', 'CT', 'MD', 'NH', 'PA', 'WA', 'GA', 'IL',
       'CA', 'NM', 'NY', 'RI', 'MN', 'DC', 'CO', 'VA', 'AZ', 'MI', 'NV',
       'DE', 'ME', 'VT', 'HI'], dtype=object)

In [152]:
# Adding a list of values with keys to create a new DataFrame for Blue states only.
#Utah is not included because the shipping of alcohol is prohibited.
B = {'Blue State': ['Arizona', 'California', 'Colordao', 'Connecticut', 'District of Columbia', 'Delaware', 'Georgia',
               'Hawaii', 'Illinois', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Nevada',
               'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'Oregon', 'Pennsylvania', 'Rhode Island',
               'Vermont', 'Virginia', 'Washington',  'Wisconsin',
              ],
       'Total Item/Bottle Count': [Arizona["Item/Bottle Count"].sum(),    
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum()]}

In [153]:
total_bottle_count_by_blue_state = pd.DataFrame.from_dict(data=B)
total_bottle_count_by_blue_state

              Blue State  Total Item/Bottle Count
0                Arizona                  16882.0
1             California                 109697.0
2               Colordao                  27844.0
3            Connecticut                  21934.0
4   District of Columbia                   8089.0
5               Delaware                   2053.0
6                Georgia                  31870.0
7                 Hawaii                  11142.0
8               Illinois                  42583.0
9                  Maine                   5630.0
10              Maryland                  28296.0
11         Massachusetts                  43842.0
12              Michigan                  32801.0
13             Minnesota                  14836.0
14                Nevada                   6966.0
15         New Hampshire                   6149.0
16            New Jersey                  58695.0
17            New Mexico                   4065.0
18              New York                 108154.0
19                Oregon                  12011.0
20          Pennsylvania                  69833.0
21          Rhode Island                   7125.0
22               Vermont                   3339.0
23              Virginia                  36481.0
24            Washington                  19606.0
25             Wisconsin                  12753.0

In [137]:
#Generate summary statistics for blue_states_2021
blue_summary_statistics_2021 = blue_states_2021.describe()
blue_summary_statistics_2021

        Order Number         Weight  Item/Bottle Count
count  169174.000000  169174.000000      169174.000000
mean   120704.236526      15.191775           4.390013
std     69685.669502      12.514594           6.763595
min         0.000000       2.350000           1.000000
25%     60481.500000       7.000000           2.000000
50%    120897.500000       9.900000           3.000000
75%    180470.500000      21.500000           6.000000
max    242649.000000    2016.000000        2301.000000

In [138]:
# Calculate the total 2021 Item/Bottle Count for Blue States.
total_blue_count_2021 = blue_states_2021["Item/Bottle Count"].sum()
total_blue_count_2021

742676.0

In [154]:
#Print the highest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].max()])

   Blue State  Total Item/Bottle Count
1  California                 109697.0

In [155]:
#Print the lowest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].min()])

  Blue State  Total Item/Bottle Count
5   Delaware                   2053.0

In [156]:
#Export total_bottle_count_by_blue_state to .csv
total_bottle_count_by_blue_state.to_csv('Resources/2021_total_bottle_count_by_blue_state.csv')

In [157]:
joined_blueandred = total_bottle_count_by_blue_state.join(total_bottle_count_by_red_state, 
                                                          lsuffix='_Blue', rsuffix='_Red')
joined_blueandred

,Blue State,Total Item/Bottle Count_Blue,Red State,Total Item/Bottle Count_Red
0,Arizona,16882.0,Alabama,1229.0
1,California,109697.0,Alaska,2076.0
2,Colordao,27844.0,Arkansas,5121.0
3,Connecticut,21934.0,Florida,79220.0
4,District of Columbia,8089.0,Idaho,3517.0
5,Delaware,2053.0,Indiana,15893.0
6,Georgia,31870.0,Iowa,5918.0
7,Hawaii,11142.0,Kansas,7216.0
8,Illinois,42583.0,Kentucky,853.0
9,Maine,5630.0,Louisiana,8914.0
10,Maryland,28296.0,Missouri,12324.0
11,Massachusetts,43842.0,Montana,3063.0
12,Michigan,32801.0,Nebraska,4781.0
13,Minnesota,14836.0,North Carolina,29491.0
14,Nevada,6966.0,North Dakota,1793.0
15,New Hampshire,6149.0,Ohio,33250.0
16,New Jersey,58695.0,Oklahoma,4705.0
17,New Mexico,4065.0,South Carolina,15546.0
18,New York,108154.0,South Dakota,1899.0
19,Oregon,12011.0,Tennessee,19222.0
20,Pennsylvania,69833.0,Texas,61779.0
21,Rhode Island,7125.0,West Virginia,2965.0
22,Vermont,3339.0,Wyoming,2006.0
23,Virginia,36481.0,NaN,NaN
24,Washington,19606.0,NaN,NaN
25,Wisconsin,12753.0,NaN,NaN

In [158]:
#Export total_bottle_count_by_blue_state to .csv
joined_blueandred.to_csv('Resources/2021_joined_blueandred.csv')

## Total Wine Sales by State

In [ ]:
# Which state consumed the most wine?

In [159]:
# Adding a list of values with keys to create a new DataFrame.
S = {'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colordao', 'Connecticut', 
               'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
               'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
               'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
              'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
              'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 
              'Texas', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(), 
            Arizona["Item/Bottle Count"].sum(), 
            Arkansas["Item/Bottle Count"].sum(), 
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Florida["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [160]:
total_bottle_count_by_state = pd.DataFrame.from_dict(data=S)
#total_bottle_count_by_state

In [161]:
#Sort df to show largest count first.
#I'm not sure why this isn't sorting.
total_bottle_count_by_state.sort_values('Total Item/Bottle Count')
total_bottle_count_by_state

                   State  Total Item/Bottle Count
0                Alabama                   1229.0
1                 Alaska                   2076.0
2                Arizona                  16882.0
3               Arkansas                   5121.0
4             California                 109697.0
5               Colordao                  27844.0
6            Connecticut                  21934.0
7   District of Columbia                   8089.0
8               Delaware                   2053.0
9                Florida                  79220.0
10               Georgia                  31870.0
11                Hawaii                  11142.0
12                 Idaho                   3517.0
13              Illinois                  42583.0
14               Indiana                  15893.0
15                  Iowa                   5918.0
16                Kansas                   7216.0
17              Kentucky                    853.0
18             Louisiana                   8914.0
19                 Maine                   5630.0
20              Maryland                  28296.0
21         Massachusetts                  43842.0
22              Michigan                  32801.0
23             Minnesota                  14836.0
24              Missouri                  12324.0
25               Montana                   3063.0
26              Nebraska                   4781.0
27                Nevada                   6966.0
28         New Hampshire                   6149.0
29            New Jersey                  58695.0
30            New Mexico                   4065.0
31              New York                 108154.0
32        North Carolina                  29491.0
33          North Dakota                   1793.0
34                  Ohio                  33250.0
35              Oklahoma                   4705.0
36                Oregon                  12011.0
37          Pennsylvania                  69833.0
38          Rhode Island                   7125.0
39        South Carolina                  15546.0
40          South Dakota                   1899.0
41             Tennessee                  19222.0
42                 Texas                  61779.0
43               Vermont                   3339.0
44              Virginia                  36481.0
45            Washington                  19606.0
46         West Virginia                   2965.0
47             Wisconsin                  12753.0
48               Wyoming                   2006.0

In [162]:
#Print the highest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].max()])

        State  Total Item/Bottle Count
4  California                 109697.0

In [163]:
#Print the lowest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].min()])

       State  Total Item/Bottle Count
17  Kentucky                    853.0

In [ ]:
# How many items/bottles per month have been purchased in each state from January 2020 to December 2021?
# How many items/bottls per month 01/2020 - 12/2021
# How many items/bottles per state then per month

In [ ]:
# Is there a time of year where wine shipments increased? For example, during the holidays or during COVID stay-at-home orders?

## Stay At Home Mandates

In [ ]:
# How do wine shipments compare between states that had stay at home orders issued vs states that did not?
    #Create a dataframe with data from states that issued stay at home orders
    #Create a dataframe with data from states that did not issue stay at home orders
    #Generate summary statistics for each data frame 
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

## Working syntax

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = total_bottle_count_by_state["State"]

# Set the y-axis to a list of floats as the Item/Bottle Count for each month.
y_axis = total_bottle_count_by_state["Total Item/Bottle Count"]

In [ ]:
plt.pie(y_axis, labels=x_axis)
plt.show()

In [ ]:
plt.subplots(figsize=(25, 25))
explode_values = (0, 0, 0, 0, 0.2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, )
plt.pie(y_axis, explode=explode_values, labels=x_axis, autopct='%.1f%%')

In [ ]:
# Which state saw the most significant change in wine consumption? From 2020-2021