In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_06 = "../../2020_Data/2020.06.csv"

In [3]:
# Read the June CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_06 = pd.read_csv(load_2020_06)
df_2020_06.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,6/2/20,Denver,CO,80220,FEH,6/1/20,20.2,6
1,Ecom1,Delivered,6/2/20,Baltimore,MD,21214,FEH,5/22/20,39.0,12
2,Ecom1,Delivered,6/2/20,Baltimore,MD,21214,FEH,5/22/20,20.2,6
3,Ecom1,Delivered,6/3/20,Temecula,CA,92591,FEH,5/27/20,10.5,3
4,Ecom1,Delivered,6/3/20,Highlands Ranch,CO,80130,FEH,5/27/20,10.5,3

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
16568,Ecom2,Delivered,6/24/20,Woodland Hills,CA,91364,UPS,6/24/20,7.0,1
17631,Ecom3,Delivered,6/22/20,Seattle,WA,98136,UPS,6/20/20,26.0,7
9399,Ecom2,Shipped,6/19/20,Brookhaven,GA,30319,FEH,6/18/20,7.0,1
2516,Ecom3,Delivered,6/2/20,Plaistow,NH,3865,UPS,6/2/20,21.5,6
14012,Ecom3,Delivered,6/15/20,Gaithersburg,MD,20878,FEH,6/12/20,32.0,9

In [5]:
#See the last rows of data
df_2020_06.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19384,Winery1,Shipped,7/2/20,Scottsdale,AZ,85255,AZS,6/30/20,4.0,1
19385,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19386,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19387,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19388,Ecom1,In Transit,7/2/20,Ponca City,OK,74604,LSO1,7/1/20,10.5,3

In [6]:
df_2020_06.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  19389
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_06.
df_2020_06.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_06.
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_06['Company Name'].value_counts()

Ecom3      8090
Ecom2      7106
Ecom1      3772
Winery1     386
Winery2      35
Name: Company Name, dtype: int64

In [11]:
df_2020_06['Ship Date'].value_counts()

6/19/20    7159
6/15/20    1463
6/1/20     1245
6/22/20    1156
6/10/20    1141
6/8/20     1082
6/23/20     710
6/17/20     676
6/3/20      572
6/2/20      559
7/1/20      554
7/2/20      514
6/24/20     459
6/18/20     365
6/16/20     335
6/4/20      251
6/11/20     201
6/5/20      196
6/26/20     188
6/12/20     151
6/9/20      150
6/13/20     131
6/25/20     131
Name: Ship Date, dtype: int64

In [12]:
df_2020_06['Status'].value_counts()

Shipped              10015
Delivered             7723
In Transit            1538
Carrier Exception       94
Delivery Attempt        19
Name: Status, dtype: int64

In [13]:
df_2020_06['City'].value_counts()

New York         305
Chicago          253
Brooklyn         170
Philadelphia     160
Washington       142
                ...
Mount Lebanon      1
Wrentham           1
CULVER CITY        1
Sunriver           1
TROY               1
Name: City, Length: 5073, dtype: int64

In [14]:
df_2020_06['State'].value_counts()

NY    2045
CA    1806
PA    1472
FL    1445
NJ    1119
TX    1037
IL     901
MA     779
VA     668
OH     661
MI     660
GA     614
MD     540
NC     511
CO     484
CT     382
WA     344
IN     306
TN     305
AZ     270
MN     264
MO     249
SC     249
WI     240
OR     174
LA     173
NH     141
DC     141
RI     134
NV     119
IA     113
NE     110
KS     109
HI     104
ME      91
OK      90
NM      74
AR      69
VT      57
ID      57
WV      56
DE      53
AK      40
MT      37
WY      28
ND      26
AL      21
SD      21
Name: State, dtype: int64

In [15]:
df_2020_06['Zip'].value_counts()

33149    34
10019    31
60618    29
60657    28
19103    24
         ..
12033     1
48380     1
5762      1
33527     1
22749     1
Name: Zip, Length: 7214, dtype: int64

In [16]:
df_2020_06['Shipping Service'].value_counts()

FEH     9136
UPS     8843
FXG     1048
FEX      267
UP2       25
LSO1      23
FXO       22
AZS       10
UP3        7
WCU        4
UP1        2
GSC        1
UPS7       1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_06['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

6/18/20    4606
6/19/20    3011
6/4/20      668
6/3/20      651
6/1/20      564
6/5/20      562
6/17/20     559
6/7/20      538
6/12/20     525
6/2/20      507
6/16/20     507
6/21/20     474
6/22/20     458
7/1/20      458
6/24/20     384
6/14/20     382
5/31/20     373
6/11/20     372
6/9/20      340
6/15/20     336
5/30/20     329
6/10/20     323
6/23/20     318
6/30/20     317
5/29/20     296
6/20/20     241
7/2/20      221
6/13/20     218
6/6/20      217
6/8/20      207
6/25/20     103
6/26/20      82
5/28/20      41
5/26/20      40
5/27/20      35
6/28/20      23
5/22/20      23
6/29/20      17
5/25/20      14
5/12/20       9
5/23/20       6
5/16/20       5
4/22/20       4
5/20/20       4
5/17/20       3
5/13/20       3
5/24/20       3
5/9/20        2
5/21/20       2
4/15/20       2
5/7/20        1
3/31/20       1
12/3/19       1
5/18/20       1
5/19/20       1
5/15/20       1
Name: Created Date, dtype: int64

In [18]:
df_2020_06['Weight'].value_counts()

7.00     7427
21.50    3856
41.00    1356
10.50    1266
20.20    1195
14.00    1034
39.00     929
9.90      480
18.50     338
29.00     268
26.00     162
10.00     133
35.00     115
27.00     111
32.00     106
3.35       93
19.20      84
4.00       47
30.00      43
24.00      42
13.50      37
38.00      36
19.00      35
20.50      28
9.50       25
37.00      21
17.20      16
11.50      15
20.00      13
19.50      11
33.00       9
36.00       8
18.20       6
13.00       5
23.00       4
28.00       3
13.20       3
31.20       3
6.00        2
2.00        2
34.00       2
22.20       2
40.00       2
14.20       1
22.00       1
42.00       1
17.00       1
5.00        1
7.50        1
29.20       1
2.35        1
12.20       1
31.00       1
16.20       1
1.85        1
3.00        1
17.50       1
8.20        1
21.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_06['Item/Bottle Count'].value_counts()

1     7284
6     5032
12    2290
3     1865
4     1194
5      357
8      344
2      339
7      325
9      150
10     125
11      33
14      23
13      17
24       3
16       3
15       3
17       2
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_06.
df_2020_06["Item/Bottle Count"]=df_2020_06["Item/Bottle Count"].astype(float)
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_06.
df_2020_06 = df_2020_06.drop('Status', axis=1)
df_2020_06

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,6/2/20,Denver,CO,80220,FEH,6/1/20,20.2,6.0
1,Ecom1,6/2/20,Baltimore,MD,21214,FEH,5/22/20,39.0,12.0
2,Ecom1,6/2/20,Baltimore,MD,21214,FEH,5/22/20,20.2,6.0
3,Ecom1,6/3/20,Temecula,CA,92591,FEH,5/27/20,10.5,3.0
4,Ecom1,6/3/20,Highlands Ranch,CO,80130,FEH,5/27/20,10.5,3.0
...,...,...,...,...,...,...,...,...,...
19384,Winery1,7/2/20,Scottsdale,AZ,85255,AZS,6/30/20,4.0,1.0
19385,Winery2,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12.0
19386,Winery2,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12.0
19387,Winery2,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12.0
19388,Ecom1,7/2/20,Ponca City,OK,74604,LSO1,7/1/20,10.5,3.0

In [22]:
# Drop the NaNs for df_2020_06.
df_2020_06 = df_2020_06.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12035,Ecom2,6/19/20,Georgetown,TX,78633,FEH,6/18/20,7.0,1.0
3944,Ecom3,6/8/20,Bolivia,NC,28422,UPS,6/4/20,41.0,12.0
1014,Ecom3,6/1/20,Philadelphia,PA,19130,UPS,5/31/20,29.0,8.0
7670,Ecom2,6/19/20,Highlands Ranch,CO,80130,UPS,6/19/20,7.0,1.0
9368,Ecom2,6/19/20,San Antonio,TX,78232,FEH,6/18/20,7.0,1.0

In [24]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  19389
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_06 to .csv
df_2020_06.to_csv('../cleaned_months_2020/Clean_2020_06.csv')