In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_05 = "../../2020_Data/2020.05.csv"

In [3]:
# Read the May CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_05 = pd.read_csv(load_2020_05)
df_2020_05.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,43952.87139,Edmond,OK,73034,LSO1,43940.85348,10.5,3
1,Ecom1,In Transit,43952.87149,Snohomish,WA,98296,FEH,43943.52123,20.2,6
2,Ecom1,In Transit,43952.87149,Denver,CO,80209,UPS,43945.43794,20.2,6
3,Ecom1,In Transit,43952.87148,San Diego,CA,92115,FXG,43945.60456,10.5,3
4,Ecom1,In Transit,43952.87148,Seattle,WA,98104,FEH,43947.43795,39.0,12

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_05.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
17536,Ecom2,In Transit,43972.78063,Westminster,MD,21158,FEH,43970.8298,7.0,1
25312,Ecom3,In Transit,43969.62855,Albuquerque,NM,87114,FEH,43968.68831,21.5,6
18228,Ecom2,In Transit,43972.73215,Bloomington,IL,61704,FEH,43970.68071,7.0,1
21498,Ecom2,In Transit,43972.75764,Gloucester,MA,1930,UPS,43970.71571,7.0,1
16350,Ecom2,Shipped,43972.76059,Santa Clara,CA,95054,UPS,43970.8198,7.0,1

In [5]:
#See the last rows of data
df_2020_05.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
32424,Winery3,Shipped,5/27/2020,Napa,CA,94558,WCU,5/27/2020,39.0,12
32425,Winery3,Shipped,5/27/2020,Napa,CA,94558,WCU,5/27/2020,20.2,6
32426,Winery3,Shipped,5/27/2020,Napa,CA,94558,WCU,5/27/2020,20.2,6
32427,Winery3,Shipped,5/27/2020,Napa,CA,94558,WCU,5/27/2020,39.0,12
32428,Winery3,Delivered,5/27/2020,Napa,CA,94558,WCU,5/27/2020,7.0,2

In [6]:
df_2020_05.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_05.
df_2020_05_rows = len(df_2020_05.axes[0])
df_2020_05_cols = len(df_2020_05.axes[1])
print("Number of Rows: ", df_2020_05_rows)
print("Number of Columns: ", df_2020_05_cols)

Number of Rows:  32429
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_05.
df_2020_05.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_05.
df_2020_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_05['Company Name'].value_counts()

Ecom3      15823
Ecom2      11335
Ecom1       4648
Winery1      364
Winery3      198
Winery2       61
Name: Company Name, dtype: int64

In [11]:
df_2020_05['Ship Date'].value_counts()

43958.697      45
43966.64353    45
43969.6227     43
5/8/2020       43
5/29/2020      42
               ..
43971.684       1
43971.68399     1
43972.7583      1
43964.65645     1
43952.87139     1
Name: Ship Date, Length: 1978, dtype: int64

In [12]:
df_2020_05['Status'].value_counts()

In Transit           15054
Delivered            13734
Shipped               3212
Carrier Exception      329
Delivery Attempt       100
Name: Status, dtype: int64

In [13]:
df_2020_05['City'].value_counts()

New York          514
Chicago           408
Philadelphia      253
Brooklyn          228
Washington        219
                 ...
Moosup              1
CHAGRIN FALLS       1
Harwich             1
Los Angles          1
Normandy Beach      1
Name: City, Length: 6483, dtype: int64

In [14]:
df_2020_05['State'].value_counts()

CA    3394
NY    3042
PA    2514
FL    2375
TX    1857
NJ    1761
IL    1434
MA    1281
OH    1112
VA    1029
MI    1021
GA     996
MD     895
NC     868
CO     839
CT     719
WA     580
IN     524
TN     512
AZ     465
WI     456
MN     454
SC     400
MO     390
OR     330
LA     314
KS     231
RI     223
HI     213
DC     211
IA     206
NH     194
NE     174
NV     164
ME     155
NM     126
AR     126
OK     119
ID     103
AL     102
MT      85
VT      81
WV      75
WY      73
AK      55
DE      54
ND      50
SD      47
Name: State, dtype: int64

In [15]:
df_2020_05['Zip'].value_counts()

94558    44
19103    39
19460    37
10019    35
37027    34
         ..
60452     1
1826      1
90804     1
6093      1
8739      1
Name: Zip, Length: 9024, dtype: int64

In [16]:
df_2020_05['Shipping Service'].value_counts()

UPS      16678
FEH      13665
FXG       1636
FEX        182
LSO1       135
WCU         42
UP3         29
AZS         19
GSC         18
FXE         13
UP2          8
WCP          1
UP1          1
UPSNS        1
SELF         1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_05['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

5/8/2020       43
5/29/2020      42
5/1/2020       39
5/22/2020      20
5/27/2020      15
               ..
43970.68016     1
43955.60525     1
43953.47957     1
43954.41743     1
43940.85348     1
Name: Created Date, Length: 22553, dtype: int64

In [18]:
df_2020_05['Weight'].value_counts()

7.00     11916
21.50     7022
41.00     2898
14.00     2077
20.20     1470
39.00     1335
10.50     1156
9.90       883
18.50      673
29.00      538
26.00      517
10.00      468
27.00      226
20.00      180
35.00      176
3.35       173
32.00      167
4.00        70
30.00       67
19.50       47
38.00       47
13.50       45
20.50       44
23.20       33
24.00       33
33.00       26
17.20       26
13.00       18
11.50       16
19.00       12
39.50       11
36.00       10
42.00        8
23.00        5
19.20        4
45.00        3
17.50        3
28.00        3
17.00        3
29.20        2
15.50        2
37.00        2
38.20        2
2.35         1
40.00        1
2.00         1
9.20         1
6.90         1
31.00        1
5.00         1
12.00        1
11.00        1
75.00        1
56.20        1
6.00         1
Name: Weight, dtype: int64

In [19]:
df_2020_05['Item/Bottle Count'].value_counts()

1     11607
6      8769
12     4215
3      2540
4      2297
5       706
2       605
7       592
8       588
9       238
10      202
11       56
13        9
14        3
18        1
24        1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_05.
df_2020_05["Item/Bottle Count"]=df_2020_05["Item/Bottle Count"].astype(float)
df_2020_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_05.
df_2020_05 = df_2020_05.drop('Status', axis=1)
df_2020_05

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,43952.87139,Edmond,OK,73034,LSO1,43940.85348,10.5,3.0
1,Ecom1,43952.87149,Snohomish,WA,98296,FEH,43943.52123,20.2,6.0
2,Ecom1,43952.87149,Denver,CO,80209,UPS,43945.43794,20.2,6.0
3,Ecom1,43952.87148,San Diego,CA,92115,FXG,43945.60456,10.5,3.0
4,Ecom1,43952.87148,Seattle,WA,98104,FEH,43947.43795,39.0,12.0
...,...,...,...,...,...,...,...,...,...
32424,Winery3,5/27/2020,Napa,CA,94558,WCU,5/27/2020,39.0,12.0
32425,Winery3,5/27/2020,Napa,CA,94558,WCU,5/27/2020,20.2,6.0
32426,Winery3,5/27/2020,Napa,CA,94558,WCU,5/27/2020,20.2,6.0
32427,Winery3,5/27/2020,Napa,CA,94558,WCU,5/27/2020,39.0,12.0
32428,Winery3,5/27/2020,Napa,CA,94558,WCU,5/27/2020,7.0,2.0

In [22]:
# Drop the NaNs for df_2020_05.
df_2020_05 = df_2020_05.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_05.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
15760,Ecom2,43972.75934,Saint James City,FL,33956,FEH,43970.8092,7.0,1.0
17158,Ecom2,43972.78128,Seattle,WA,98122,UPS,43970.82432,7.0,1.0
7923,Ecom3,43962.88808,El Dorado Hills,CA,95762,UPS,43962.62523,18.5,5.0
583,Ecom3,43955.70285,Marblehead,MA,1945,FEH,43953.67771,21.5,6.0
22296,Ecom2,43972.78031,West Lafayette,IN,47906,FXG,43970.83898,7.0,1.0

In [24]:
#Determine total rows for df_2020_05.
df_2020_05_rows = len(df_2020_05.axes[0])
df_2020_05_cols = len(df_2020_05.axes[1])
print("Number of Rows: ", df_2020_05_rows)
print("Number of Columns: ", df_2020_05_cols)

Number of Rows:  32429
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_05 to .csv
df_2020_05.to_csv('../cleaned_months_2020/Clean_2020_05.csv')