In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_10 = "../../2020_Data/2020.10.csv"

In [3]:
# Read the October CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_10 = pd.read_csv(load_2020_10)
df_2020_10.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,In Transit,10/2/2020,Albuquerque,NM,87111,FEH,9/25/2020,10.5,3
1,Ecom1,Delivered,10/2/2020,San Francisco,CA,94123,FEH,9/25/2020,10.5,3
2,Ecom1,Delivered,10/2/2020,Carlsbad,CA,92011,FEH,9/24/2020,10.5,3
3,Ecom1,Delivered,10/2/2020,Roseville,CA,95747,FEH,9/24/2020,10.5,3
4,Ecom1,In Transit,10/2/2020,Como,CO,80432,FEH,9/28/2020,18.2,8

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_10.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
1014,Ecom1,Delivered,10/5/2020,Lindsborg,KS,67456,FEH,10/4/2020,10.5,3
17161,Winery2,Shipped,10/31/2020,Houston,TX,77007,UPS,10/26/2020,20.2,6
15921,Ecom3,Delivered,10/20/2020,Pooler,GA,31322,UPS,10/19/2020,21.5,6
14665,Ecom3,Delivered,10/20/2020,Frisco,TX,75036,UPS,10/19/2020,21.5,6
4463,Ecom3,Delivered,10/12/2020,Kokomo,IN,46902,UPS,10/10/2020,21.5,6

In [5]:
#See the last rows of data
df_2020_10.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
20397,Winery3,Shipped,10/30/2020,Novi,MI,48377,UPS,10/30/2020,10.5,3
20398,Winery3,Shipped,10/27/2020,San Jose,CA,95120,GSC,10/27/2020,10.5,3
20399,Winery3,Shipped,10/30/2020,Dublin,OH,43017,UPS,10/30/2020,10.5,3
20400,Winery3,Shipped,10/30/2020,Charlotte,NC,28210,UPS,10/30/2020,10.5,3
20401,Winery3,Shipped,10/27/2020,Palo Alto,CA,94303,GSC,10/27/2020,20.2,6

In [6]:
df_2020_10.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_10.
df_2020_10_rows = len(df_2020_10.axes[0])
df_2020_10_cols = len(df_2020_10.axes[1])
print("Number of Rows: ", df_2020_10_rows)
print("Number of Columns: ", df_2020_10_cols)

Number of Rows:  20402
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_10.
df_2020_10.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_10.
df_2020_10.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_10['Company Name'].value_counts()

Ecom3      10233
Ecom2       5542
Ecom1       2997
Winery1      613
Winery2      549
Winery3      468
Name: Company Name, dtype: int64

In [11]:
df_2020_10['Ship Date'].value_counts()

10/22/2020    3073
10/23/2020    2157
10/21/2020    2152
10/12/2020    1400
10/26/2020    1137
10/20/2020    1122
10/19/2020    1095
10/5/2020     1037
10/2/2020      771
10/13/2020     738
10/14/2020     617
10/31/2020     563
10/16/2020     545
10/6/2020      541
10/7/2020      525
10/27/2020     442
10/30/2020     393
10/29/2020     375
10/9/2020      342
10/8/2020      332
10/28/2020     325
10/1/2020      273
10/15/2020     249
10/3/2020      197
10/4/2020        1
Name: Ship Date, dtype: int64

In [12]:
df_2020_10['Status'].value_counts()

Delivered            11866
In Transit            6708
Shipped               1482
Carrier Exception      186
Delivery Attempt       160
Name: Status, dtype: int64

In [13]:
df_2020_10['City'].value_counts()

New York          377
Chicago           264
Brooklyn          168
Austin            163
Atlanta           159
                 ...
Coeur D' Alene      1
Eastlake            1
Mc Dermott          1
Newville            1
Locust Valley       1
Name: City, Length: 4913, dtype: int64

In [14]:
df_2020_10['State'].value_counts()

NY    2015
CA    1851
FL    1599
PA    1387
TX    1377
NJ    1092
IL     917
MA     766
VA     750
OH     686
MI     664
GA     616
NC     553
MD     543
CO     504
CT     430
TN     339
WA     338
IN     332
AZ     315
MN     285
WI     275
SC     269
MO     233
LA     199
OR     188
DC     160
HI     159
KS     154
RI     142
NV     140
OK     122
NE     110
NH     104
IA     102
ME      94
AR      85
NM      80
WV      75
ID      68
VT      54
MT      40
DE      38
WY      33
ND      32
SD      30
AL      29
AK      28
Name: State, dtype: int64

In [15]:
df_2020_10['Zip'].value_counts()

33156         37
60614         32
11201         30
22314         29
19087         27
              ..
33063          1
44875          1
4666           1
76087          1
95616-0223     1
Name: Zip, Length: 7065, dtype: int64

In [16]:
df_2020_10['Shipping Service'].value_counts()

UPS      11222
FEH       7875
FXG       1046
FEX        106
GSC         78
AZS         19
UP2         17
WCU          9
UP1          8
UP3          8
SELF         8
FXP          2
WCP          2
FXE          1
UPSNS        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_10['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

10/20/2020    6025
10/26/2020     992
10/2/2020      930
10/22/2020     766
10/18/2020     712
10/6/2020      683
10/11/2020     670
10/10/2020     639
10/19/2020     638
10/13/2020     605
10/17/2020     557
10/12/2020     501
10/16/2020     478
10/9/2020      451
10/7/2020      450
10/25/2020     433
10/27/2020     432
10/23/2020     399
10/15/2020     371
10/5/2020      344
10/4/2020      342
10/28/2020     334
10/21/2020     319
10/29/2020     318
10/8/2020      313
10/1/2020      298
10/14/2020     296
10/24/2020     266
9/29/2020      221
10/30/2020     211
10/3/2020      209
9/30/2020      132
9/17/2020       16
9/25/2020        7
9/28/2020        6
8/3/2020         5
7/21/2020        4
8/13/2020        3
8/18/2020        3
9/24/2020        3
9/23/2020        2
9/15/2020        2
7/22/2020        2
9/1/2020         1
7/8/2020         1
9/3/2020         1
9/7/2020         1
8/11/2020        1
8/10/2020        1
9/27/2020        1
8/17/2020        1
9/21/2020        1
9/14/2020        1
9/11/2020        1
9/20/2020        1
8/4/2020         1
8/5/2020         1
Name: Created Date, dtype: int64

In [18]:
df_2020_10['Weight'].value_counts()

7.00     6255
21.50    5389
41.00    1875
10.50    1768
39.00    1015
20.20    1012
14.00    1002
9.90      492
29.00     325
18.50     206
26.00     168
32.00     162
35.00     148
3.35      142
17.20      85
30.00      73
27.00      72
38.00      49
4.00       34
13.50      30
24.00      23
20.50      14
33.00      11
7.50       10
37.00       8
36.00       7
3.00        5
17.00       4
19.20       3
9.50        3
18.20       2
22.00       2
5.00        1
19.00       1
12.00       1
31.00       1
15.50       1
13.00       1
20.00       1
23.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_10['Item/Bottle Count'].value_counts()

6      6421
2      5286
12     2882
3      2274
1      1186
4      1025
8       376
5       288
9       241
7       193
10      158
11       43
13       13
14        8
15        2
18        2
24        2
16        1
132       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_10.
df_2020_10["Item/Bottle Count"]=df_2020_10["Item/Bottle Count"].astype(float)
df_2020_10.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_10.
df_2020_10 = df_2020_10.drop('Status', axis=1)
df_2020_10

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,10/2/2020,Albuquerque,NM,87111,FEH,9/25/2020,10.5,3.0
1,Ecom1,10/2/2020,San Francisco,CA,94123,FEH,9/25/2020,10.5,3.0
2,Ecom1,10/2/2020,Carlsbad,CA,92011,FEH,9/24/2020,10.5,3.0
3,Ecom1,10/2/2020,Roseville,CA,95747,FEH,9/24/2020,10.5,3.0
4,Ecom1,10/2/2020,Como,CO,80432,FEH,9/28/2020,18.2,8.0
...,...,...,...,...,...,...,...,...,...
20397,Winery3,10/30/2020,Novi,MI,48377,UPS,10/30/2020,10.5,3.0
20398,Winery3,10/27/2020,San Jose,CA,95120,GSC,10/27/2020,10.5,3.0
20399,Winery3,10/30/2020,Dublin,OH,43017,UPS,10/30/2020,10.5,3.0
20400,Winery3,10/30/2020,Charlotte,NC,28210,UPS,10/30/2020,10.5,3.0
20401,Winery3,10/27/2020,Palo Alto,CA,94303,GSC,10/27/2020,20.2,6.0

In [22]:
# Drop the NaNs for df_2020_10.
df_2020_10 = df_2020_10.dropna()

In [ ]:
df_2020_10=df_2020_10.reset_index()
df_2020_10

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_10.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
11422,Ecom2,10/22/2020,Pittsburgh,PA,15241,UPS,10/20/2020,7.0,2.0
10969,Ecom2,10/23/2020,Bernardsville,NJ,7924,FEH,10/20/2020,7.0,2.0
12694,Ecom2,10/22/2020,Anacortes,WA,98221,UPS,10/20/2020,7.0,2.0
9902,Ecom2,10/23/2020,Fort Lupton,CO,80621,UPS,10/20/2020,7.0,2.0
6380,Ecom3,10/14/2020,Livingston,MT,59047,UPS,10/13/2020,41.0,12.0

In [24]:
#Determine total rows for df_2020_10.
df_2020_10_rows = len(df_2020_10.axes[0])
df_2020_10_cols = len(df_2020_10.axes[1])
print("Number of Rows: ", df_2020_10_rows)
print("Number of Columns: ", df_2020_10_cols)

Number of Rows:  20402
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_10 to .csv
df_2020_10.to_csv('../cleaned_months_2020/Clean_2020_10.csv')